[2021-03-16 18:52] hawkticehurst opened #28 "Adopt JSON Storybook Control"
Currently, the VSCode Data Grid component `gridData` Storybook control renders the input JSON as a plain text box, which is hard to edit and view as a user.

Storybook has already merged a PR that adds a JSON editor/tree view control to the control options but it is currently published as a prerelease feature.

When the feature is added in a stable release update the `gridData` control to use this

[2021-03-19 23:46] hawkticehurst opened #39 "Add split button component"
### Problem
There is currently no [FAST Foundation](https://github.com/microsoft/fast/tree/master/packages/web-components/fast-foundation) split button base component that can be used to implement a VSCode split button.

### Solution
A custom implementation of a split button could be pursued, however, there is active work by the FAST team to create a [split button spec](https://github.com/microsof

[2021-04-07 18:11] hawkticehurst opened #58 "Readopt Webpack 5 In Storybook"
Currently, there are Storybook build errors that occur when using Webpack 5. This is a known issue and is being worked on by the Storybook team.

Watch this [issue](https://github.com/storybookjs/storybook/issues/9216).

The toolkit has been temporarily moved back to Webpack 4 until this issue is resolved, at which point Webpack 5 will be readopted.

[2021-04-07 18:23] #28 closed, assigned to hawkticehurst

[2021-04-22 18:06] miguelsolorio opened #71 "Unable to load codicons in components"
**Describe the bug**
I have codicons setup and working in the Webviews but can't seem to load them via the components

**To Reproduce**
Steps to reproduce the behavior:
1. Add breadcrumb component
2. See icons do not show up

**Expected behavior**
To have codicons show up

**Screenshots**
<img width="360" alt="CleanShot 2021-04-22 at 11 04 39" src="https://user-images.githubusercontent.com/3527104

[2021-04-22 21:51] eamodio opened #73 "Avoid the need for `setThemeEventListener`"
First off -- awesome stuff! I'm really excited to see how this is progressing.

In the example, there was a need to have a `setThemeEventListener` to listen for theme changes, and then posts a message to the webview. We can achieve the same effect completely within the webview to avoid any dependency between the extension and the webview.

In GitLens, I setup a MutationObserver and just watch for

[2021-04-22 21:56] eamodio opened #74 "Avoid loading dynamic code out of `node_modules` directly"
In the example code you showed loading the js file by getting its uri directly from the `node_modules` folder. That should be avoided, as we want extensions to be bundled and not ship their raw `node_modules` folder. So we should look into alternative ways of loading the library -- importing the js as a module or something along those lines. Though I'm not really thrilled with importing the lib di

[2021-04-22 23:11] #73 closed, assigned to hawkticehurst

[2021-04-23 22:37] #71 closed, assigned to hawkticehurst

[2021-05-25 03:30] daviddossett opened #95 "Inconsistent border widths and radius across input components"
Various inconsistencies between inputs with regards to their border width and dropdown radius. Need to sync with core VS Code team to align on intended styling here. @hawkticehurst this can be assigned to me.

## Storybook

**Text field**
<img width="187" alt="CleanShot 2021-05-24 at 20 25 19@2x" src="https://user-images.githubusercontent.com/25163139/119434974-2b429200-bcce-11eb-8075-2bdcb5c9d986

[2021-05-25 05:12] daviddossett opened #96 "Storybook: keyboard input on input components triggers window shortcuts"
Typing in a text field, text area, or combo box will often trigger one of the default Storybook shortcuts. As a result, the various panes and sidebars will jank around or dismiss themselves.

[2021-05-28 18:30] daviddossett opened #109 "Breadcrumb: default separators use slashes instead of chevrons"
### Describe the bug

_A clear and concise description of what the bug is._

### Expected behavior

It looks like the default configuration of the breadcrumb item renders a slash as a separator instead of a chevron per VS Code defaults.

### Screenshots

**Webview toolkit**
<img width="196" alt="CleanShot 2021-05-28 at 11 29 25@2x" src="https://user-images.githubusercontent.com/25163139/120027248-

[2021-06-04 16:23] daviddossett opened #113 "Iteration Plan for June 2021"
This plan captures our work in **June**. We will ship our preview release **July 01 2021**.

Our goal for this iteration is to enable internal extension authors to consume the toolkit so we can gather feedback and ideas. We're tracking the following outcomes for this iteration:

- P0 components are available via public NPM package
- Devs can reference usage guides, sample extensions, and Storybook

[2021-06-04 17:22] daviddossett opened #114 "Investigate Adding Tree View Component"
### Feature/component description

Let's investigate the need for a tree view component in the toolkit. Despite VS Code exposing an API for a tree view within a view, there have already been asks for a more flexible tree view both inside a webview view (e.g. Embedded Tools) and within a standard webview panel (e.g. Luna Paint).

### Use case

Extension authors are asking for more functionality fro

[2021-06-04 17:28] daviddossett opened #115 "Simplify design unit implementation"
### Feature/component description

Currently the calculations we use to specify component dimensions (as well as padding, margins, and more) are potentially difficult to read and understand at a glance.

Spike: investigate simplification to use only the 4px `designUnit` token and calculate values based only on that token.

[2021-06-04 17:33] daviddossett opened #116 "Add utils for page and component layout"
### Feature/component description

Investigate need for utils that aid extension authors when laying out pages and components.

The main value prop of providing these utils is to avoid authors hardcoding one-off values for common scenarios like form stack spacing, grid layouts, and more.

[2021-06-04 17:53] daviddossett opened #117 "Split Badge into Badge and Tag components"
### Feature/component description

Given that badges and labels are fairly distinct styles and use cases, I think it makes sense to have them split into `Badge` and `Tag` components, which render numbers and text respectively. This also means we don't put the burden on authors to specify the "circular" attribute on the badge.

Note that the `Badge` has several variants for size/color in the design

[2021-06-04 18:00] daviddossett opened #118 "Iteration Plan for July 2021"
This plan captures our work in **July**. We will ship continuously throughout the month towards the public beta release.

Our goal for this iteration is to gather feedback from early adopters of the toolkit and to fix issues and improve the toolkit along the way.

[Storybook](https://microsoft.github.io/vscode-webview-toolkit/)

## Plan Items
Below is a summary of the top-level plan items.

## Com

[2021-06-04 18:00] daviddossett opened #119 "Iteration Plan for August 2021"
This plan captures our work in **August**. We will ship continuously throughout the month towards the public beta release.

Our goal for this iteration is to gather feedback from early adopters of the toolkit and to fix issues and improve the toolkit along the way.

## Plan Items
Below is a summary of the top-level plan items.

## Components

- [ ] Fix data grid column width bug
- [x] Research FAS

[2021-06-04 20:47] hawkticehurst opened #120 "Data Grid `rowsData` Method Results In Undefined Error When Used In VS Code"
### Describe the bug

When the `vscode-data-grid` component is used inside a VS Code webview environment (as compared to a web browser), the `rowsData` method results in a "Cannot read property of undefined" error.

### To reproduce

_Steps to reproduce the behavior:_

1. Install and configure toolkit in a VS Code webview
2. Set the `vscode-data-grid` component data using the `rowsData` method
3.

[2021-06-04 20:54] hawkticehurst opened #121 "Create Design Tokens For Remaining Component Magic Values"
### Feature/component description

Currently, a number of component styles are still implemented with magic values which should be refactored into design tokens––especially color tokens that need to be associated with the correct VS Code theme color CSS variables.

### Use case

This work is required to meet the June 2021 iteration plan goal of fully configuring component theming.

[2021-06-04 21:13] hawkticehurst opened #122 "Determine Max Width Of Various Components"
### Feature/component description

There are a couple of components that can currently be set to any width. Based on conversations with @misolori it sounds like it might be smart to determine if a max-width should be set on these components and if so how long each should be.

Candidates For Max Width:
- Dropdown
- Number Field
- Text Area
- Text Field

### Use case

This idea is that setting max-w

[2021-06-04 21:38] daviddossett opened #123 "Make package publicly available"
Begin process to make toolkit available via public NPM registry.

@hawkticehurst feel free to add info here if needed

[2021-06-04 21:42] daviddossett opened #124 "Certify toolkit meets or exceeds WCAG 2.1 bar"
We'll need the green light from Marisol's C+AI accessibility team before moving to public beta.

[2021-06-04 21:44] daviddossett opened #125 "Make Figma toolkit available as Community file"
### Feature/component description

Mirror core VS Code toolkit by creating a Figma Community file for easy duplication. Possibly mirror [GH repo](https://github.com/microsoft/vscode-figma-toolkit) as well.

![CleanShot 2021-06-04 at 14 44 17@2x](https://user-images.githubusercontent.com/25163139/120865682-5be2c100-c543-11eb-9609-363bdaad9660.png)

[2021-06-04 21:48] daviddossett opened #126 "Create guides and best practices for extension authors"
### Feature/component description

Lets ensure extension authors have great docs, walkthroughs, and/or other resources to help them build webview extensions that look and feel native to VS Code. This could take the form of Figma files, videos, docs, sample extensions, and more!

[2021-06-04 21:52] daviddossett opened #127 "Create sample extensions to mirror design patterns & guidelines"
### Feature/component description

I think it makes sense to create or update our sample extensions that align with our design patterns and guidelines outlined in the docs/figma examples/etc. It would be super helpful to have the two connect so authors don't see contradictions in our samples after reading the docs (or vice versa).

**Open question:** what kind of sample extensions would be good ca

[2021-06-04 22:52] daviddossett opened #128 "Add snapshot tests"
### Feature/component description

As the title says! This will need more info as we get closer to this.

[2021-06-07 16:32] hawkticehurst opened #130 "Breadcrumb Item Hover Bug"
### Describe the bug

When a Breadcrumb Item has been created with a custom element, the text underline hover style is still rendered leading to a peculiar/incorrect visual state.

### To reproduce

_Steps to reproduce the behavior:_

1. Create a `vscode-breadcrumb-item` using a custom element (such as a button)
2. Hover over the custom element

### Expected behavior

The text underline should not

[2021-06-07 20:34] hawkticehurst opened #131 "Combobox Does Not Collapse When Clicked"
### Describe the bug

Not completely sure if this should be categorized as a bug or not, but the default behavior shipped by the FAST Combobox is that a user can click the topbar element to expand it but **cannot** click the topbar element to collapse it. The only way to collapse a Combobox is to click outside of its bounding area.

[FAST Example](https://explore.fast.design/components/fast-combob

[2021-06-09 19:01] #96 closed, assigned to daviddossett, hawkticehurst

[2021-06-09 20:27] #115 closed, assigned to daviddossett

[2021-06-09 21:09] #95 closed, assigned to daviddossett, hawkticehurst

[2021-06-11 15:17] daviddossett opened #136 "Use branded favicon for Storybook"
### Feature/component description

Right now we just have a default favicon—it would be cool to use the VS Code icon or some other related icon to make the site feel slightly more "official".

### Screenshots/references

<img width="258" alt="CleanShot 2021-06-11 at 08 16 23@2x" src="https://user-images.githubusercontent.com/25163139/121709523-7fe75a80-ca8d-11eb-8d71-d36ab3a71dd9.png">

[2021-06-15 23:03] daviddossett opened #140 "Implement anchored region for use with menu components"
### Feature/component description

This component enables consumers to render a context menu on arbitrary elements within their extensions.

### Screenshots/references

https://github.com/microsoft/fast/blob/eeb625e346a54da4c1f338eb90341a6e2d9ddb83/packages/web-components/fast-components/src/anchored-region/index.ts

[2021-06-15 23:07] daviddossett opened #141 "Add component documentation for Menu"
### Feature/component description

Add any missing documentation to [Storybook](https://microsoft.github.io/vscode-webview-toolkit/?path=/docs/library-menu--with-divider) for the Menu component

[2021-06-15 23:12] daviddossett opened #142 "Convert dropdown styling to align with VS Code"
### Describe the bug

Given that our `Dropdown` component is based on the component seen in VS Code's Settings page, we need to align the options list to at minimum take on the styling specified in the [Figma toolkit](https://www.figma.com/file/aC3m6GBXUVNvM72CRKg5kn/VS-Code-Webview-Toolkit?node-id=3626%3A8329).

### Screenshots

Current
<img width="418" alt="CleanShot 2021-06-15 at 16 10 32@2x" s

[2021-06-21 16:55] #142 closed, assigned to nobody

[2021-06-21 17:41] #123 closed, assigned to hawkticehurst

[2021-06-22 18:57] #117 closed, assigned to nobody

[2021-07-02 06:15] #121 closed, assigned to hawkticehurst

[2021-07-02 20:00] #113 closed, assigned to daviddossett, miguelsolorio, hawkticehurst

[2021-07-09 18:28] #120 closed, assigned to hawkticehurst

[2021-07-29 12:16] mrleemurray opened #164 "Find alternative to 'foobar' term in examples"
### Describe the bug

The term 'foobar' has controversial historical origins (a military term used to describe horrific battle injuries, F.U.B.A.R) and much like the update from 'master' to 'main' in branch naming, this term should also be considered for an update.

### To reproduce

Fragments of the term are found in:
- checkbox/README.md
- checkbox/checkbox.stories.ts
- checkbox/fixtures/createC

[2021-08-02 18:26] #118 closed, assigned to daviddossett, miguelsolorio, hawkticehurst

[2021-08-02 20:44] #141 closed, assigned to nobody

[2021-08-02 20:45] #140 closed, assigned to nobody

[2021-08-03 21:10] #58 closed, assigned to nobody

[2021-08-03 21:45] #130 closed, assigned to hawkticehurst

[2021-08-03 21:47] #127 closed, assigned to nobody

[2021-08-06 17:57] #164 closed, assigned to hawkticehurst

[2021-08-16 18:48] hawkticehurst opened #175 "Ensure Icon Button Has Accessible Labels"
### Describe the bug

Based on Storybook accessibility audits, must ensure that icon buttons have an accessible label.

### To reproduce

Look at the accessibility tab for the icon button story:

[https://microsoft.github.io/vscode-webview-ui-toolkit/?path=/story/library-button--with-icon-only](https://microsoft.github.io/vscode-webview-ui-toolkit/?path=/story/library-button--with-icon-only)

###

[2021-08-16 20:52] hawkticehurst opened #176 "Ensure Checkbox Has Accessible Labels"
### Describe the bug

Based on Storybook accessibility audits, must ensure that checkboxes have an accessible label.

### To reproduce

Look at the accessibility tab for the icon button story:

[https://microsoft.github.io/vscode-webview-ui-toolkit/?path=/story/library-checkbox--default](https://microsoft.github.io/vscode-webview-ui-toolkit/?path=/story/library-checkbox--default)

### Expected beh

[2021-08-18 16:33] #125 closed, assigned to daviddossett

[2021-08-23 16:05] Shivamd1 opened #177 "A11y_VscodeWebviewUiToolkit_Breadcrumb+BreadcrumbItem_ColorContrast: The color contrast ratio of link texts of "src", "components", "index" are less than 4.5:1"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#WCAG1.4.3;#AINotInScope;#ColorContrast;

### Environment Details:
Application Name: Vscode Web

[2021-08-23 17:34] Shivamd1 opened #178 "A11y_VscodeWebviewUiToolkit_AllComponents_Buttons_Usability: The "with icon only" button is not visible permanently on the screen"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yUsable;#A11yTCS;#A11ySev4;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#FTP;#DesktopApp;#AINotInScope;#Win32;

### Environment Details:
Application Name: Vscode Webview Ui Toolkit
Windows

[2021-08-23 18:18] Shivamd1 opened #179 "A11y_VscodeWebviewUiToolkit_AllComponents_Buttons_DevTools: The "with icon only" button has no name property assigned"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#WCAG4.1.2;#AINotInScope;#DevTools;

### Environment Details:
Application Name: Vscode Webview

[2021-08-23 18:42] Shivamd1 opened #180 "A11y_VscodeWebviewUiToolkit_AllComponents_Checkbox_ScreenReader: The nvda does not announces the associated label for any checkboxes when navigating using tab key"
### Actual:
Issue1: The nvda does not announces the associated label for any checkboxes when navigating using tab key. The label is not provided in the aria-labelledby

Issue2: The name property is also not given to the checkboxes

Similar issue observed with jaws.

### Similar issues observed with below scenarios:

1. Combo box
2. Dropdown
3. Number Field
4. Radio Group
5. Text Area(Default text

[2021-08-24 08:44] Shivamd1 opened #181 "A11y_VscodeWebviewUiToolkit_AllComponents_Combobox_ScreenReader: The NVDA does not announces the names of the menu items like "option label#1" when navigating using down arrow key."
### Actual:
The NVDA does not announces the names of the menu items like "option label#1" when navigating using down arrow key. It only announces "blank" for all the menu items

Similar issue is observed with Jaws

Similar issue is with the "Dropdowns" scenario

### Expected:
The NVDA should be announcing the names of the menu items like "option label#1" along with menu item numbering like 1 of 3

[2021-08-24 09:59] Shivamd1 opened #182 "A11y_VscodeWebviewUiToolkit_AllComponents_RadioGroup+Radio_Usability: The "selected" and " not selected" radio buttons are not visually differentiable."
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yUsable;#A11yTCS;#A11ySev4;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#AINotInScope;

### Environment Details:
Application Name: Vscode Webview Ui Toolkit
Windows

[2021-08-24 10:06] Shivamd1 opened #183 "A11y_VscodeWebviewUiToolkit_AllComponents_DataGrid_DevTools: No name property is provided for any of the data grids"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#WCAG4.1.2;#AINotInScope;

### Environment Details:
Application Name: Vscode Webview Ui Toolkit

[2021-08-24 10:13] Shivamd1 opened #184 "A11y_VscodeWebviewUiToolkit_AllComponents_DataGrid_Keyboard: The column headers of data grid "with variable column widths" are not resizable using the keyboard with any key combination like "ctrl + shift + right arrow""
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#WCAG2.1.1;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Vscode Webview

[2021-08-24 10:20] Shivamd1 opened #185 "A11y_VscodeWebviewUiToolkit_AllComponents_Links_Keyboard: The keyboard focus is not visible after "default" link on pressing tab key"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#WCAG2.4.7;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Vscode Webview

[2021-08-24 10:34] Shivamd1 opened #186 "A11y_VscodeWebviewUiToolkit_AllComponents_Panels_ScreenReader: NVDA does not announces the name of the selected tab items like "Problems" when navigating using tab key"
### Actual:
NVDA does not announces the name of the selected tab items like "Problems" when navigating using tab key.

Similar issue is observed with Jaws

Similar issue is with all the Panels and Panel's tab item

### Expected:
NVDA should be announcing the name of the selected tab items like "Problems" when navigating using tab key

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUi

[2021-08-24 10:52] Shivamd1 opened #187 "A11y_VscodeWebviewUiToolkit_AllComponents_ProgressBar_ScreenReader: NVDA does not announces any information about "default progress bar" when navigating using down arrow key in browse mode."
### Actual:
NVDA does not announces any information about "default progress bar" when navigating using down arrow key in browse mode.

Similar issue is observed with Jaws

Similar issue is with "Default Progress ring"

### Expected:
NVDA should be announcing information about "default progress bar" when navigating using down arrow key in browse mode. It should be announcing like "loading"

**GitHu

[2021-08-30 09:02] Shivamd1 opened #189 "A11y_VscodeWebviewUiToolkit_AllComponents_DataGrid_Reflow: The column headers of data grids are not visible properly at 400% zoom."
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;#WCAG1.4.10;#Zoom;#AINotInScope;#A11yWCAG2.1;

### Environment Details:
Application Name: Vscod

[2021-09-01 05:21] hawkticehurst opened #192 "Add High Contrast Design Tokens To Tag & Badge Components"
### Describe the bug

The tag and badge toolkit components do not have discernable borders when VS Code is using the high contrast theme.

### To reproduce

The easiest way to reproduce is:

- Open the all-components [sample extensions](https://github.com/microsoft/vscode-webview-ui-toolkit-samples)
- Set the VS Code theme to high contrast

### Expected behavior

I believe these components should

[2021-09-01 05:27] hawkticehurst opened #193 "Component Icon Spacing Is Not Rendering Correctly Inside VS Code"
### Describe the bug

The spacing of icons inside some components is not being rendered correctly when compared to its Storybook counterpart.

### To reproduce

The easiest way to reproduce is:

- Open the all-components [sample extension](https://github.com/microsoft/vscode-webview-ui-toolkit-samples)

### Expected behavior

All components that render icons should look identical to their counterp

[2021-09-01 05:39] hawkticehurst opened #194 "Min Width Of Some Components Is Too Large"
### Describe the bug

The current min-width of some components is too large for the min-width of Webview View sidebars and will overflow past the sidebar border.

### To reproduce

The easiest way to reproduce is:

- Open the weather-webview [sample extensions](https://github.com/microsoft/vscode-webview-ui-toolkit-samples)
- Look at the text field search box

### Expected behavior

The min-width

[2021-09-01 05:46] hawkticehurst opened #195 "Verify That VS Code Accessibility Standards Are Being Met"
### Feature/component description

Before public release, conduct a review of the entire toolkit to ensure that it is meeting [VS Code extension accessibility standards](https://code.visualstudio.com/docs/editor/accessibility).

[2021-09-13 16:44] #119 closed, assigned to daviddossett, miguelsolorio, hawkticehurst

[2021-09-16 11:04] #177 closed, assigned to hawkticehurst

[2021-09-16 11:04] #178 closed, assigned to hawkticehurst

[2021-09-16 11:12] #182 closed, assigned to hawkticehurst

[2021-09-16 18:18] #185 closed, assigned to hawkticehurst

[2021-09-16 18:21] #124 closed, assigned to daviddossett, hawkticehurst

[2021-09-16 18:21] #109 closed, assigned to nobody

[2021-09-16 18:24] #131 closed, assigned to daviddossett

[2021-09-16 18:34] #175 closed, assigned to hawkticehurst

[2021-09-16 18:34] #176 closed, assigned to hawkticehurst

[2021-09-16 18:42] #114 closed, assigned to nobody

[2021-09-16 23:18] #192 closed, assigned to hawkticehurst

[2021-09-17 18:32] #122 closed, assigned to daviddossett, hawkticehurst

[2021-09-17 18:35] #194 closed, assigned to hawkticehurst

[2021-09-17 22:06] hawkticehurst opened #206 "Input Component Border Color Not Visible In Light Theme"
### Describe the bug

When VS Code is set to the default light theme the text field, text area, and number field components do not have borders that visually distinguished from the background color––giving the impression of no border at all.

### To reproduce

1. Run the `all-components` [sample extension](https://github.com/microsoft/vscode-webview-ui-toolkit-samples)
2. Set VS Code theme to defa

[2021-09-17 22:11] #206 closed, assigned to hawkticehurst

[2021-09-21 18:39] rchiodo opened #210 "Add virtualization support to data-grid"
### Feature/component description

The current implementatio/docs for the https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/data-grid/README.md allows a caller to add rows through a property. This works great for a small number of rows but wouldn't work so well for say a million rows.

### Use case

We'd love to use the data grid for this control here: https://code.visualstudio.

[2021-09-22 09:21] Shivamd1 opened #211 "11y_VscodeWebviewUiToolkit_ProgressRing_Usability: There is not textual representation of progress ring that how much it is completed"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yUsable;#A11yTCS;#A11ySev2;#SH_VscodeWebviewUiToolkit_Aug2021;#Webview UI Toolkit for Visual Studio Code;#Win32;#FTP;#DesktopApp;

### Environment Details:
Application Name: Vscode Webview Ui Toolkit
Windows Version: Win1

[2021-09-22 09:34] Shivamd1 opened #212 "A11y_VscodeWebviewUiToolkit_NumberField_ScreenReader: When the user is trying to increase or decrease the number using the increment or decrement button, there is no screen reader announcement of the value in the field."
### Actual:
When the user is trying to increase or decrease the number using the increment or decrement button, there is no screen reader announcement of the value in the field.

Similar issue is observed with Jaws

### Expected:
NVDA should be announcing the value of the field when there is increase or decrease in the number using the increment or decrement button.

**GitHubTags:** #A11yMAS;#A11y

[2021-09-22 09:37] Shivamd1 opened #213 "A11y_VscodeWebviewUiToolkit_NumberField_ScreenReader: NVDA announces only "Clickable" for the increase/decrease spin button when navigating in browse mode using down arrow key"
### Actual:
NVDA announces only "Clickable" for the increase/decrease spin button when navigating in browse mode using down arrow key

Similar issue is observed with Jaws

### Expected:
NVDA should be announcing the proper name  for the increase/decrease spin button when navigating in browse mode using down arrow key. It should announce like "Increase" button

**GitHubTags:** #A11yMAS;#A11yTCS;#A1

[2021-09-24 11:30] #184 closed, assigned to hawkticehurst

[2021-09-27 17:28] daviddossett opened #224 "Input fields don't show focus borders when using default themes"
### Describe the bug

Focus borders don't seem to show on input fields when using the default editor themes. They do seem to work as expected with third-party themes.

### To reproduce

1. Launch any sample extension
2. Switch to Dark, Default Dark+, Light, or Light+ themes
3. Focus on any standard input element (text, text area, number, etc.)

<img width="275" alt="CleanShot 2021-09-27 at 10 26 5

[2021-09-28 18:27] rchiodo opened #227 "Vscode-button doesn't wrap when the webview is too small"
Testing #133758

Maybe this is by design but if a button is really large, it doesn't wrap:

![image](https://user-images.githubusercontent.com/19672699/135144755-2a8fc5d1-6be2-43d5-b9c8-a8e7e89e1e00.png)

[2021-09-28 18:52] #224 closed, assigned to daviddossett, hawkticehurst

[2021-09-28 19:15] rchiodo opened #228 "Indeterminate checkbox in light theme doesn't seem to be visible"
Testing #133758

Looks like this:

![image](https://user-images.githubusercontent.com/19672699/135151232-002c5c1c-db01-4ea0-9af9-068023a76a32.png)

Same code in dark theme looks like this
![image](https://user-images.githubusercontent.com/19672699/135151279-51adc6af-8690-4960-bf07-a64fb14ad7df.png)

[2021-09-28 19:35] rchiodo opened #229 "Link color doesn't seem to match colors on Getting Started page"
Testing #133758

![image](https://user-images.githubusercontent.com/19672699/135153969-cdf3705d-dc1c-41c5-9501-7927a2c0a9b1.png)

Using the 'Red' theme, link colors seem to be a different color.

[2021-09-28 19:40] rchiodo opened #230 "Panels don't seem to wrap correctly."
Testing #133758

This html:
[code]
Creates this output
![image](https://user-images.githubusercontent.com/19672699/135154659-c267ee4d-64b8-44ca-a7cb-e6dd836cc49a.png)

It seems like the divider and the ```</br>``` have no effect on layout.

[2021-09-28 20:00] rchiodo opened #231 "Text field with start icon doesn't show start icon."
Testing #133758

This html here:
[code]
Shows this
![image](https://user-images.githubusercontent.com/19672699/135157274-08e604e8-d557-4460-9f16-b38b01f5b249.png)

[2021-09-28 20:05] #231 closed, assigned to nobody

[2021-09-30 07:20] alexdima opened #236 "Consider moving npm module to @vscode scope"
Testing https://github.com/microsoft/vscode/issues/133758

There's been some discussion recently at https://github.com/microsoft/vscode/issues/130301 that we might want to consider to group any vscode related npm packages in the `@vscode` npm scope. cc @connor4312

[2021-10-04 17:49] #236 closed, assigned to nobody

[2021-10-05 10:04] #213 closed, assigned to daviddossett, hawkticehurst

[2021-10-05 10:05] #212 closed, assigned to daviddossett, hawkticehurst

[2021-10-05 10:06] #211 closed, assigned to hawkticehurst

[2021-10-05 10:32] #186 closed, assigned to hawkticehurst

[2021-10-05 10:35] #180 closed, assigned to hawkticehurst

[2021-10-05 10:35] #179 closed, assigned to hawkticehurst

[2021-10-05 11:04] #183 closed, assigned to hawkticehurst

[2021-10-07 08:44] christian-bromann commented on #116
Just started to use this toolkit to build a configuration view and was looking for some sort of form components similar to https://bendera.github.io/vscode-webview-elements/components/vscode-form-container/ that matches the VSCode styleguide.

[2021-10-08 17:07] connor4312 opened #252 "Unable to `npm install`"
1. Clone the pakage
2. Try to npm install
3. This error happens, in spite of being logged in:

[code]

It looks like there are references to `mscomdev.pkgs.visualstudio.com` in the package-lock.json. This prevents anyone who isn't authenticated and set up to that package feed from being able to contribute. I'm pretty sure all dependencies are public, so we should be able to just reference the publ

[2021-10-08 17:13] connor4312 opened #253 "Mark the package as side-effect free"
Adding `sideEffects: false` in the package.json [indicates](https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free) to bundlers (e.g. Webpack) that the package is side-effect free, which allows it to tree shake imports and reduce code size.

[2021-10-08 20:12] hawkticehurst commented on #252
Just dropping in to give an update that the original issue has been fixed, but we've run into a new bug that is making our build command fail. Working to get it fixed asap and then will push all the changes.

[2021-10-08 20:21] connor4312 commented on #252
Thanks!

[2021-10-08 21:03] worksofliam opened #254 "File select"
### Feature/component description

A file select component: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file

### Use case

We have a web view where a user can select an SSH key from their file system. We use the file selector, then pass the value back from the panel to the extension for the extension to read the file.

### Screenshots/references

Here is our existing UI:

![im

[2021-10-08 22:58] hawkticehurst commented on #253
Ooh, yep that feels like a winner. Thank you (again) for the suggestions! 🙂

(This makes me quite happy too because I had always felt slightly icky leaving that script to live in the global scope and somewhat unattached from the rest of the toolkit.)

[2021-10-08 23:09] hawkticehurst commented on #252
Another quick update is the bug seems like it might be related to an [issue](https://github.com/microsoft/fast/issues/3317) with fast foundation and a build tool both packages use called api-extractor.

Details aside, I'll be reaching out to someone on the fast team to see if they might have some insights and will hopefully have this issue resolved by Monday since I don't expect to get much of a r

[2021-10-08 23:12] chrisdholt commented on #39
@hawkticehurst We'd love to dig in here with you. Open UI is starting to look here, it would be great to dig in on your thoughts and requirements and re-ignite the split button conversation.

[2021-10-08 23:12] connor4312 commented on #252
fwiw I was able to get a successful install just by deleting package-lock.json and running npm install.

[2021-10-08 23:36] hawkticehurst commented on #39
@chrisdholt Yes, please! I (and I'm also sure @daviddossett) would love to dig into that with you all!

[2021-10-09 04:11] idoprz opened #255 "Add tree component"
Hi,

Please add tree component to the library.
I want to have a tree as part of my webview and not in a TreeView.
Use case can be a TreeView like panel with more controls like search control above the tree.

[2021-10-11 23:32] daviddossett commented on #255
Thanks for raising this, @idoprz. We've received this request from other teams at Microsoft and usually recommend the native `TreeView` to avoid reinventing a fairly complex control. But I'm interested in learning more.

Could you tell me more about what sort of functionality you're looking for here?

cc @hawkticehurst

[2021-10-12 07:32] estruyf opened #256 "Missing dependency lodash-es"
### Describe the bug

Module not found: Error: Can't resolve `lodash-es` in `.../node_modules/@microsoft/fast-web-utilities/dist`

### To reproduce

1. Install the dependency to a VS Code extension with webpack bundling;
2. Start building your project
3. See it fail

### Expected behavior

The expected behavior would be that the `lodash-es` is defined as a dependency of the library, this way, it w

[2021-10-12 08:14] estruyf opened #257 "Data Grid: documentation and optimization for using it in other frameworks"
### Feature/component description

Right now the Data Grid component sample shows you how to use it by binding your rows of data.

When using a framework like React, Vue, ... It would be helpful to have an example of how to use the sub-components and their available attributes.

### Use case

I want to use the web components in React to create a data table on which I can loop through my rows and c

[2021-10-12 08:20] rulelee opened #258 "The scroll bar style in the Shadow DOM of the component is not unified with the outside"
![image](https://user-images.githubusercontent.com/11474005/136918958-84697904-e46b-4084-80dc-47f0b289832e.png)

[2021-10-12 08:35] estruyf opened #259 "Field label component"
### Feature/component description

Create a separate label component for your input fields: `<vscode-label>Label<vscode-label>`.

### Use case

Fields that haven't been supported yet by the toolkit, can then be developed ourselves and still use the same label styles without the need to duplicate the styles.

[2021-10-12 08:39] estruyf opened #260 "Collapsible panel section component"
### Feature/component description

Creation of an accordion / collapsible section component. Similar to the panel sections which you have on the explorer panel.

### Use case

To create an experience that comes close to the OOTB VS Code experience in your webviews, it would be great to have a collapsible section component.

### Screenshots/references

![Screenshot 2021-10-12 at 10 38 41](https://u

[2021-10-12 19:55] chrisdholt commented on #181
I think this is an NVDA bug - I’ll dig in a bit today to confirm.

[2021-10-12 19:56] daviddossett commented on #259
Great idea! We have this in the soon-to-be-released Figma toolkit. Agreed that it should be added here as well.

[2021-10-12 20:35] chrisdholt commented on #256
Yes, those will unfortunately only be published into the current / latest packages.

[2021-10-12 20:46] hawkticehurst commented on #256
Okay, thanks for the clarification! I'll go ahead add a quick PR to fix/resolve this issue now, but once we convert to foundation v2 (which is high on the priority list) I'll be able to remove lodash again 😅.

[2021-10-12 21:06] hawkticehurst opened #261 "Convert Toolkit to Use FAST Foundation v2"
### Feature/component description

Rewrite the toolkit to adopt `fast-foundation` v2 and its new API.

### Use case

This is a prerequisite to a number of planned changes and component additions for the toolkit.

[2021-10-12 21:23] hawkticehurst commented on #257
From the [data grid documentation](https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/data-grid/README.md#generate-header-attribute) (note the last bit):

[2021-10-12 21:58] #256 closed

[2021-10-12 22:05] daviddossett opened #263 "Add `Menu` to toolkit"
### Feature/component description

Implement the [Menu](https://explore.fast.design/components/fast-anchored-region) component. Menu items could be configured to feature selection state, icons, and even sub-menus.

### Use case

This component would serve as a relatively generic context menu/popover for executing actions or selecting boolean states. These are typically coupled with icon buttons, r

[2021-10-13 06:32] estruyf commented on #260
@hawkticehurst I use the accordion to mimic the same behavior in my Front Matter panel (https://frontmatter.codes/) as all other panels from VS Code.

![image](https://user-images.githubusercontent.com/2900833/137079395-337d0552-c99a-469b-8049-7132264a6435.png)

I just want to be able to render any kind of HTML elements in it, not only a tree view.

[2021-10-13 15:27] idoprz opened #264 "Add toggle component"
### Feature/component description

We would like to have a toggle component.

### Use case

In some cases it makes more sense to use toggle and not checkbox, since the user expect immediate reaction.

[2021-10-13 19:23] svew opened #265 "vscode-button "disabled" doesn't disable button"
### Describe the bug

When trying to add the "disabled" property to vscode-button, button does not appear/act disabled at all, it's still clickable and still fires click events

### To reproduce

Go to this site and see that the current button implementation won't disable even under button disabled story

https://microsoft.github.io/vscode-webview-ui-toolkit/?path=/story/library-button--with-disab

[2021-10-13 22:32] #265 closed

[2021-10-14 19:13] #229 closed

[2021-10-14 19:30] hawkticehurst commented on #228
Thanks for the catch @rchiodo! It was a case of a specific design token existing in dark themes but not in light themes. Fixed now!

[2021-10-14 19:34] rchiodo commented on #230
I think updating the documentation would work for me. Nobody knows how these things are supposed to work so the examples are how everybody figures out what's 'correct'.

[2021-10-15 01:05] rulelee commented on #258
My project is based on Vue, and the temporary solution is shown in the figure
![Image](https://user-images.githubusercontent.com/11474005/137415955-4d539288-8edd-4790-b0a1-d70fae710401.png)

[2021-10-15 17:43] #228 closed, assigned to nobody

[2021-10-18 07:19] yannickowow opened #270 "Feature Request: Add invalid CSS theming for `required` fields"
### Feature/component description

Implement VS Code error background/foreground/text color for required components

### Use case
If a field is not fulfilled with valid contents, components should be able to show to the user the invalid state.
_Please provide a use case to help us understand your request in context._

### Screenshots/references
Reference: https://developer.mozilla.org/fr/docs/Web/

[2021-10-19 22:12] daviddossett commented on #258
Cool to see this, @rulelee! Would you have any interest in raising a PR for this? That would be a massive help for us 🤞

[2021-10-21 03:07] chrisdholt commented on #264
[Switch](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/switch/switch.spec.md#fast-switch) looks like it would be the relevant base here.

[2021-10-22 21:12] #261 closed, assigned to hawkticehurst

[2021-10-22 21:12] #193 closed, assigned to hawkticehurst

[2021-10-25 04:49] atanasster opened #276 "data-grid: cells are not aligned"
### Describe the bug

The datagrid cells are sometimes not aligned

### To reproduce
In the following example witness the `Type` column - rows `y` and `...props`
[code]

### Expected behavior

Expected all cells from the same column to be the same size

### Screenshots

![grab184](https://user-images.githubusercontent.com/6075606/138636103-b4f40f70-43c6-4821-8491-67d9b4e9be3f.jpg)

[2021-10-25 04:55] atanasster opened #277 "data-grid: styling of selected cell->anchor"
### Describe the bug

The `<a>` tag is not styled correctly when inside a selected cell

### To reproduce
The following code, select the first cell with the mouse:
[code]

### Expected behavior

Expected to have css styled applied to elements inside the cell

### Screenshots
![grab185](https://user-images.githubusercontent.com/6075606/138636544-a642ee74-e765-49f5-8e1d-fabaf76daef3.jpg)

[2021-10-25 04:55] atanasster opened #278 "data-grid: styling of selected cell->code"
### Describe the bug

The `<code>` tag is not styled correctly when inside a selected cell

### To reproduce
The following code, select the second cell with the mouse:
[code]

### Expected behavior

Expected to have css styled applied to elements inside the cell

### Screenshots

![grab186](https://user-images.githubusercontent.com/6075606/138636637-f2fc0121-fc05-499c-a35d-f923a91fc370.jpg)

[2021-10-28 22:02] #187 closed, assigned to hawkticehurst

[2021-11-01 03:18] xsteadybcgo opened #283 "Examples of how to use the framework with react/vue etc"
### Feature/component description

I can't wait to put it into my vs code extension development, my webview uses react and I want to use these components in a jsx way instead of a template string, I didn't find an answer in the documentation for this way

### Use case
[code]

It seems to be not possible.

[2021-11-01 06:42] dzhavat commented on #283
Just came across this. For usage in React, you might want to take a look at what [Front Matter are doing](https://github.com/estruyf/vscode-front-matter/search?q=webview-ui-toolkit). Maybe relevant to you?

[2021-11-01 20:14] hawkticehurst commented on #283
@xsteadybcgo Thanks for reaching out!

Creating a comprehensive React sample extension/docs is **_very high_** on our priority list (we already have an [open issue](https://github.com/microsoft/vscode-webview-ui-toolkit-samples/issues/2) for it in our sample extension repo). I plan to start on the sample by end of this week or the beginning of next week at the latest.

Sample extensions/docs for o

[2021-11-01 20:17] hawkticehurst commented on #283
Also thanks for chiming in @dzhavat!

As I just mentioned above, our recommendation is to use `fast-react-wrapper`, but I see you're using [wc-react](https://www.npmjs.com/package/wc-react) and I'm curious to know what your experience has been with that package?

[2021-11-01 20:22] hawkticehurst commented on #283
Oh, I'm also going to close this issue since it's a duplicate of the one in the sample repo, but feel free to continue the discussion in this thread and I'll keep an eye on it in case there are any further comments/questions. 🙂

[2021-11-01 20:22] #283 closed

[2021-11-01 21:30] dzhavat commented on #283
@hawkticehurst It's actually not me who is using `wc-react`. I only mentioned it because I noticed that the [Front Matter](https://github.com/estruyf/vscode-front-matter) extension are using it. Maybe @estruyf can share his experience with the `vscode-webview-ui-toolkit` package.

I installed the package in one of my extensions and tried using it. My extension is building the webview using HTML di

[2021-11-01 22:29] hawkticehurst commented on #283
@dzhavat Oh whoops, my bad! I remembered that @estruyf was the main dev, but thought that maybe you were also a contributor to the project. 😅 But in that case, @estruyf feel free to chime in with your thoughts if you have any.

Also oh thanks for mentioning `localResourceRoots`, I had included that detail as part of the Getting Started Guide at one point but decided to remove it to keep what was s

[2021-11-01 22:39] hawkticehurst opened #285 "Create Sample Extensions Using Popular Frameworks"
In order to give higher visibility to this work, this is simply an alias GitHub issue that points to the toolkit sample repo.

[Read more about this work here.](https://github.com/microsoft/vscode-webview-ui-toolkit-samples/issues/2)

[2021-11-02 19:26] dzhavat commented on #283
Yes, I noticed it. The file size is actually not that bad even with the extra files from `node_modules` but I really would like to avoid including more files than strictly necessary. So I will most likely use the `toolkit.min.js` in order to use some of the components in my extension(s) but will also keep an eye on #74 :)

[2021-11-02 21:43] #253 closed

[2021-11-02 21:53] hawkticehurst opened #286 "High contrast theme bugs"
### Describe the bug

There are a handful of component theming bugs when the VS Code high contrast theme is applied.

### To reproduce

- Install and run the `all-components` sample extension
- Set the VS Code theme to High Contrast
- View the various visual states of buttons, dropdowns, and data grids

### Expected behavior

Buttons, dropdowns, and data grids should adhere to/match the visual sta

[2021-11-03 00:05] hawkticehurst commented on #195
Closing since this was achieved when the public preview was released.

[2021-11-03 00:05] #195 closed

[2021-11-03 09:31] estruyf commented on #283
@dzhavat @hawkticehurst I'm indeed using `wc-react` which is developed by someone from the Microsoft Graph teams that worked on the Microsoft Graph Toolkit. These are web components created with `lit`, very similar to `fast`.

I had some issues with it, and created my own fork from it, as the PR I created wasn't yet accepted.

As I want to make the switch with Front Matter to this library, I'm ope

[2021-11-03 13:08] estruyf commented on #283
Just tested the `fast-react-wrapper` library, but it seems that it has only been created for Fast Web Components. Plus it is not so straightforward to get it working.

The `wc-react` or `reactify-wc` libraries allow you to just load the web component and wrap it. It is not as complicated as the `fast-react-wrapper`.

[2021-11-03 13:25] yy0931 opened #288 "Text color of the dropdown is too light in light themes since v0.8.3"
### Describe the bug

The dropdown text is too light to see in the light+ (default light) theme

![image](https://user-images.githubusercontent.com/54441600/140065559-c42983af-9a0a-4d21-819b-8683b770fa09.png)

### To reproduce

Use vscode-webview-ui-toolkit-samples/all-components with the light+ theme

### Desktop (please complete the following information):

-   OS Version: Ubuntu 20.04
-   Toolk

[2021-11-03 14:18] mattrothenberg opened #289 "Events not consistently passed to wrapped React components"
### Describe the bug

Howdy! I'm using [`@microsoft/fast-react-wrapper`](https://www.fast.design/docs/integrations/react) to convert these web-components into React components. I've noticed that, for some components, event handler props like `onInput` and `onClick` work totally fine, but for others, these props don't seem to do anything. For example, say I have the following wrapped React componen

[2021-11-03 15:49] hawkticehurst commented on #288
Whoops! Thank you so much for the catch!

Probably a design token snafu, adding to the backlog.

[2021-11-03 16:28] mattrothenberg commented on #289
@hawkticehurst Good question. I admittedly haven't run through every component, but the lack of prop behavior seems to be sporadic. Part of the problem is that I don't know which props to expect, so it could ultimately just be an education/documentation sort of issue.

I'll keep on digging and add stuff to this issue as I find it

[2021-11-03 16:34] mattrothenberg commented on #289
For instance it turns out that I just might be using the dropdown component incorrectly 🤦 . The following code works.

[code]

[2021-11-03 17:02] chrisdholt commented on #283
Hey @estruyf, I'm a maintainer of FAST. We'd be happy to help, advise, or take feedback here. Do you have a small repro that we could look at perhaps? Alternatively, can you share what version you're working on and a summary of the issues you're running into as far as complexity?

[2021-11-03 17:10] hawkticehurst commented on #283
+1 to this, I would also love to know any more details about the complexity and any thoughts on how it might be improved 🙂

Also, could you clarify "it seems that it has only been created for Fast Web Components"? The toolkit is built using FAST, so just curious if you ran into some FAST-related issues while trying to set things up that we should potentially address?

[2021-11-03 19:05] estruyf commented on #283
@chrisdholt @hawkticehurst I do not have a sample repo at hand, but here are my thoughts about it. Let us start with the code sample from the documentation: https://www.fast.design/docs/integrations/react/

[code]

All I need is a simple wrapper for a web component, here I need to first configure a provider, and then I can start wrapping the components. It is not something major, as it is only req

[2021-11-03 19:20] estruyf commented on #283
@chrisdholt I would also recommend adding React 17 and 18 to the peer dependencies. As to test it out, I had to downgrade my version as it is currently using `"react": "^16.9.0"`.

It would be better to add the following:

[code]

[2021-11-03 19:32] estruyf commented on #283
Ok, start to understand how the `fastCard` function works

<img width="996" alt="Screenshot 2021-11-03 at 20 22 45" src="https://user-images.githubusercontent.com/2900833/140179005-b5daea23-6607-473d-8f8c-be280229a95d.png">

For the `badge` that is provided above, it would be the `vsCodeBadge` that needs to be used in order to wrap the web component. That might do the trick, but that still leaves

[2021-11-03 19:42] EisenbergEffect commented on #283
It looks like we need to improve our documentation since there are a few misunderstandings here.

The first thing I'd point out is that you only need to create the provider once. That step is there to allow you to use whatever version of React you want. It's not internally linked to React. Once you create the provider, you can wrap as many components as you want. For exmaple:

[code]

The second t

[2021-11-03 19:48] hawkticehurst commented on #283
I'll quickly chime in to say that as of `v0.8.3` we updated the toolkit to FAST v2 which means that all components are now created using the compose method and are exported as functions (scroll to the bottom of any component index.ts file).

This is something that will be heavily documented once the React sample/docs are created/available and hopefully resolve a lot of this confusion.

[2021-11-03 19:48] EisenbergEffect commented on #283
Also, the design system is only needed for the FAST or Fluent components. One provider is needed only. You can register non-FAST components with the same wrapper. It doesn't matter. That just provides a design system to the wrapper so that it can automatically register the appropriate components with the design system at the same time.

[2021-11-03 19:51] EisenbergEffect commented on #283
One further note, if we only wrap based on element name, there will be no type checking available on the ReactComponents. We pass the type so that we can both extract metadata so that properties are handled correctly by React, but also so that we can provide the proper TS types to get compile-time checking on the wrappers. Passing the component also ensures a static link, which ensures things aren

[2021-11-03 19:59] estruyf commented on #283
@EisenbergEffect 👍 that is a great explanation. That makes it easy to understand. Would indeed be great that it gets added to the documentation.

Proper TS types is indeed good, although in many cases it means you need to maintain it yourself. As when you're not the owner of the library, you need to provide all these properties yourself. Not a bad thing at all, but something to keep in mind when u

[2021-11-03 20:05] EisenbergEffect commented on #283
@estruyf I've added a todo to my list to make a second pass on the documentation based on this discussion. Thank you for the feedback!

As far as typing goes, we tried to make it so there wasn't much maintenance for the "golden path" of using components based on FAST. In that scenario we have metadata from FAST and we know the types coming from FAST, so we can project those to React automatically.

[2021-11-03 20:17] hawkticehurst commented on #289
@mattrothenberg thought I'd give you a heads up that there is a conversation going on in another issue thread that might be very relevant/helpful to what we're talking about here.

https://github.com/microsoft/vscode-webview-ui-toolkit/issues/283#issuecomment-959734811

[2021-11-03 20:18] hawkticehurst commented on #289
Also thanks for the updates! This is helpful information for me to keep in mind as I start to work on the React sample/docs.

[2021-11-03 20:20] mattrothenberg commented on #289
@hawkticehurst Of course! I'm totally down to 🍐 on the React docs with you if you need an extra hand/brain :)

[2021-11-03 20:30] hawkticehurst commented on #289
Ooh, I will happily take you up on that offer! Thank you!

I have some low-hanging issues/bugs that I'm trying to tackle this week, but I'll set up a time to chat sometime next week once I'm a bit more started up on the React work.

[2021-11-03 21:15] dzhavat commented on #283
I can see that this issue has lead to a good discussion. I personally don't use React in my extensions (hand-written HTML and JS for now) but am still very much interested in the toolkit, so I'm keeping an eye on it :)

[2021-11-03 21:28] hawkticehurst commented on #283
@dzhavat Nice! Well please always feel free to chime in/open issues if you find anything that could be improved about the vanilla HTML/JS toolkit experience 🙂

[2021-11-03 22:25] #227 closed

[2021-11-03 23:17] #230 closed

[2021-11-04 10:08] estruyf commented on #283
As promised, I went back to my tests and implemented the wrapper as suggested above.

All works fine with the web components I'm using, except for the web components from this project.

I first updated the library to the latest version. As I was using an older version, and that was causing the issue of using the wrapper because the components were not using the `compose` method.

## Test 1

Once u

[2021-11-04 10:24] estruyf commented on #283
Another thing I just noticed, when I use the FAST wrapper, I get the following errors in the console:

![Screenshot 2021-11-04 at 11 22 35](https://user-images.githubusercontent.com/2900833/140297807-833137cc-b0a1-42af-be07-003d83f57eaa.png)

[2021-11-04 14:52] EisenbergEffect commented on #283
The following is what *should* work for React with the latest versions of the libraries. If it doesn't, then we definitely have a bug. It seems that the issue could be something not quite right with the TS types, but not necessarily a runtime issue.

[code]

For others using Vue or other frameworks, you don't need the wrapper, just the design system setup and component registration. That looks lik

[2021-11-04 14:53] EisenbergEffect commented on #283
The runtime error above doesn't look like a FAST-specific issue. FAST doesn't use JSON at all internally. That might be a bug in the specific component or something wrong with the data being passed to it.

[2021-11-04 15:41] estruyf commented on #283
@EisenbergEffect seems to happen in the wrapping. Could it be some serialization of properties?

[2021-11-04 16:31] EisenbergEffect commented on #283
Actually, it looks like the design system provider hasn't been exported from here https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/index.ts That looks to be the source of these errors. I didn't see that missing when I was making the recommendation. @chrisdholt Do you know the status of the API update? Looks like a few things aren't exported yet.

[2021-11-04 16:35] hawkticehurst commented on #283
@EisenbergEffect we actually export all the components + design system provider from a different file (`src/index-rollup.ts`), so I believe it should be available.

https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/index-rollup.ts

[2021-11-04 16:37] hawkticehurst commented on #283
Altho now that I look closer, it looks like it's exported as `FASTDesignSystem` and registers all components (versus just exporting the individual design system provider function) 🧐

[2021-11-04 16:44] EisenbergEffect commented on #283
That `index-rollup.ts` is not part of the ES module code that customers will get through an NPM install. That's only for single-file script tag scenarios. We'll need to add the exports directly to the `index.ts` so that customers using NPM can access them. I think it was just an oversight. See here for the same file in FAST Components: https://github.com/microsoft/fast/blob/master/packages/web-com

[2021-11-04 16:51] hawkticehurst commented on #283
Ah! You're 1000% right, sometimes forget that my `npm run build` script is comprised of `rollup` and `tsc` 😅

Anywho, yeah that does look to be an oversight, I can quickly make that change now and publish a new version of the package. Also while I'm at it, does that `FASTDesignSystem` in index-rollup look like an oversight too? Should that be VSCodeDesignSystem?

[2021-11-04 17:04] hawkticehurst commented on #283
Great, opened a PR and added you and @chrisdholt as reviewers in case you have a free moment to give a sanity check. Have to step away to do something else for 10 minutes, but after that, I'll go ahead and merge/publish regardless.

[2021-11-04 17:32] hawkticehurst commented on #283
Alright the update has been published!

[2021-11-04 17:39] EisenbergEffect commented on #283
Ok, with this new release, this code *should* work:

[code]

It's quite possible that we've had a collection of bugs across the various libraries that all intersected in this use case. So, if the above does not work, we can keep digging in. I intent to try this out myself and debug. I just may not get to it until tomorrow...or next week.

[2021-11-05 02:13] xsteadybcgo commented on #283
Great job! We are looking forward to the addition of this to the official documentation

[2021-11-05 08:14] estruyf commented on #283
Export looks good, although I still got the build issues with the above sample:

[code]

Now the following works:

[code]

although this still results in rendering **no** checkboxes

![image](https://user-images.githubusercontent.com/2900833/140479174-14c07a64-8ca3-4753-8aa6-905f6ac6b9dc.png)

Seems that the web component isn't correctly registered on the page:

![image](https://user-images.github

[2021-11-05 09:22] xsteadybcgo commented on #289
I also encountered this type error, I guess it's the type error of `fast-react-wrapper` package, maybe need to replace `ReactModule.HTMLAttributes` with `ReactModule.AllHTMLAttributes` , how should I define a type to solve it now?

[2021-11-05 11:34] nikeee opened #294 "Is this suitable for stand-alone web applications?"
With some hacks (providing a CSS with the respective variables extracted from VSCode), these controls can be used for stand-alone web applications outside of VSCode.

It seems that it's not currently in the scope. Is this planned?

[2021-11-05 17:53] hawkticehurst commented on #283
Hmmm how odd, unless @EisenbergEffect or @chrisdholt have some initial thoughts for today I think this will end up being something that all of us will dive deeper into next week once I start up on the React sample work and @EisenbergEffect has some more time to look into the wrapper.

In the meantime, thank you so much for continuing to test this out and report back for your findings! It's been im

[2021-11-05 19:45] EisenbergEffect commented on #283
Realistically, I think it will be next week before I get a chance to dig in here, unfortunately. The code for the first way is the right way, but maybe we messed up our TS types somewhere? I'll work it out and report back.

[2021-11-05 21:59] #288 closed

[2021-11-05 22:15] hawkticehurst commented on #278
Quick update, I've been working on this + the data grid cell link issue and have run into some weird CSS specificity issues (i.e. my custom styling is not overriding the VS Code default styling for `<code>` and `<a>` tags) for yet to be determined reasons.

I'll be switching gears next week to work on the React sample extension/docs, but just wanted to chime in to say I haven't forgotten about thi

[2021-11-06 00:19] atanasster commented on #278
@hawkticehurst thanks for the update.

[2021-11-08 18:31] hawkticehurst commented on #294
Hey @nikeee, from a technical perspective the toolkit components should theoretically work fine in a stand-alone web app since they're just web components.

Also as you noted, yes, you will probably need to provide the correct CSS variables if you want proper theming. However, the toolkit components ship with the VS Code dark theme as a default out of box.

With that said, we've built this library

[2021-11-08 18:32] hawkticehurst commented on #294
I'm also going to go ahead and close this issue since it's outside the scope of what we're doing in the toolkit at this time, but please do feel free to add follow-up questions/comments and I'll keep an eye on this thread!

[2021-11-08 18:32] #294 closed

[2021-11-10 07:28] softmarshmallow opened #296 "How to configure with React? (TS) (NextJS)"
[code]

will throw
`Property 'vscode-progress-ring' does not exist on type 'JSX.IntrinsicElements'.ts(2339)`

Is there extra steps required to setup?

[2021-11-10 07:30] atanasster commented on #296
@softmarshmallow you just need to enhance the `JSX` namespace. I usually create a `typings.d.ts` file with something like that:
[code]

[2021-11-10 09:08] softmarshmallow commented on #296
Thanks. nooby question it was 🤣

[2021-11-10 09:08] #296 closed

[2021-11-10 09:33] atanasster commented on #296
I believe they will be more appropriate to include in the react version of the components, no? The authors are working on this afaics, so its just a small snag until its available.

[2021-11-10 15:30] mrleemurray opened #297 "Add panel numbering explanation in readme"
In the [Panels component documentation](https://github.com/microsoft/vscode-webview-ui-toolkit/tree/main/src/panels) there is no explanation around the panel/view id naming convention e.g.

[code]

It is unclear where this concept comes from or whether `tab-x` and `view-x` are the only accepted ids or if the developer can choose another convention

[2021-11-10 21:37] hawkticehurst commented on #296
Thanks for chiming in with the quick answer @atanasster!!

Also no no, @softmarshmallow, not nooby at all!

In fact, it's incredibly helpful to me since I'm currently working on a React sample extension/docs and this sounds like it's a topic that should be discussed (and ideally addressed out of the box) so that others don't run into the same issue as you. Thank you for sharing! 🙂

[2021-11-10 21:42] hawkticehurst commented on #296
Yeah, currently we're working on a React sample extension and corresponding documentation (versus a full-blown React implementation of the toolkit).

But if there's any way to include better type declarations as part of the sample or documentation or even packaged and published as part of the toolkit I'll find some way of making it clear how to accomplish better typing in React + toolkit extension

[2021-11-10 21:44] hawkticehurst commented on #296
Also on this note, @softmarshmallow if there are any other issues, points of confusion, needed/wanted improvements while using the toolkit please do continue to open issues!

[2021-11-10 22:50] atanasster commented on #296
@hawkticehurst I moved my extension back to react in anticipation of the react support. In the next days, I will also need to use the `tree-view` component. For now, with just a simple react wrapper, but do you have eta?

[2021-11-11 08:53] softmarshmallow commented on #296
![image](https://user-images.githubusercontent.com/16307013/141267771-b02ac044-fd24-4b44-a738-8c18208f25d4.png)

Probably mis config or ts-server problem, but here is the case that it still won't work with explicit declaration.

Sharing so that others can know.

[2021-11-11 08:56] softmarshmallow commented on #296
Changing
from
[code]

to

[code]

did the trick

[2021-11-11 09:04] softmarshmallow opened #298 "SyntaxError: Unexpected token 'export' on NextJS (ts)"
![image](https://user-images.githubusercontent.com/16307013/141269320-41b5383c-f9d2-4244-a6af-b354e48143ce.png)

https://github.com/gridaco/designto-code/tree/add-vscode-ui
https://github.com/gridaco/designto-code/commit/3dde26ddb4d409cdca383a00582f95fef13fe4f6

commenting out the import statement - `import "@vscode/webview-ui-toolkit"` did the compile, but the element won't show up

![image](http

[2021-11-11 23:50] hawkticehurst commented on #298
Ahh yeah, so there's a couple of things going on here that I think are causing the issues you're seeing.

## Named imports

First, when importing the toolkit library using ES6 import syntax, `import "@vscode/webview-ui-toolkit"` is actually incorrect and you instead need to import the individual named component functions you want to use. So for example, the following would be correct:

[code]

##

[2021-11-12 00:01] hawkticehurst commented on #296
@atanasster The react sample extension/docs work has been a bit slow going due to a couple of different blockers/hiccups this week, so while I had hoped to have the first draft of this work done by the of this week it's looking like that will probably happen towards the end of next week.

Once that draft is ready I'd be happy to share a link to the development branch so you (and anyone else) can t

[2021-11-12 00:07] hawkticehurst commented on #296
Oh, also did you mean to say `tree-view` component here?

We don't currently have a `tree-view` component in the toolkit or any plans to make one in the future, since the [TreeView API](https://code.visualstudio.com/api/extension-guides/tree-view) already exists as part of the core VS Code extension API. So if you do in fact need a tree view there should be nothing stopping you from using it now 🙂

[2021-11-12 08:36] emilhammarstedtst commented on #289
onChange seems to be broken for radio-group as well.

Workaround that I use for now.
[code]

[2021-11-15 17:32] hawkticehurst commented on #298
@softmarshmallow just checking in again, did this resolve your issue?

[2021-11-15 23:39] connor4312 commented on #283
I was giving this a shot for the Hex Editor, and though I was wrapping as described earlier

[code]

...it seems to mostly no-op

![](https://memes.peet.io/img/21-11-162bd8f2-9017-4a0c-aff0-eaa154faf102.png)

The hex editor is using esbuild, if it matters.

[2021-11-16 00:25] hawkticehurst commented on #283
Yeah, I haven't had much success with that method of wrapping components either.

Instead, the following has worked for me:

[code]

The big caveat here, however, is there is a [known issue](https://github.com/microsoft/fast/issues/5387) where wrapped toolkit components have incomplete component attribute type annotations resulting in TS intellisense/build errors.

So if you're using the text fiel

[2021-11-16 00:32] hawkticehurst commented on #283
With all that said, there's been some internal discussion, and based on what we've seen from the community experience thus far we've decided to experiment with having the toolkit take on the responsibility of wrapping the toolkit components.

We would ideally publish the wrapped components ourselves so that all of you might be able to consume them with an import syntax along these lines:

[code]

[2021-11-16 08:19] estruyf commented on #283
@hawkticehurst that is great news! Looking forward to the upcoming changes. Again, happy to give it a try once available for testing.

[2021-11-16 18:38] scomea commented on #210
Interesting.   I've got the virtualizing data-grid prototype linked above working to the point where keyboarding to a currently virtualized row works (mostly).  Feedback appreciated btw.

A few questions -
- column virtualization:  The current fast data-grid already allows authors to control what columns are rendered out of the provided data set so you can easily add/remove/reorder them, or do you

[2021-11-16 18:46] hawkticehurst commented on #210
^ cc @rchiodo

[2021-11-16 18:49] rchiodo commented on #210
Yes this one. Features in data science can be on the order of millions. At least for really complex stuff.

Yes millions of rows. This is a common case (more so than the columns, columns are usually in the 1000s).

I believe the grid we're using now has a canvas that it uses to render the current visible rows (and columns) (so it never has more than 3 pages I think in memory).

[2021-11-16 19:06] hawkticehurst commented on #210
@scomea I'm also curious to know what the API will look for using virtualization and if it will be compatible with `fast-react-wrapper`?

I ask because a lot of our community and (if I recall correctly) even the VS Code Jupyter extension that @rchiodo works on uses React.

So, if at all possible, I'd love if the React integration story is considered as part of this work too (and of course I'm more

[2021-11-16 19:19] scomea commented on #210
@rchiodo When you say "in memory" do you mean how many rows have associated elements rendered in the DOM, or something else?

[2021-11-16 19:20] chrisdholt commented on #210
IMO, the react work should be transparent here. The wrapper serves to address problems which are caused by React's lack of compatibility with the DOM standard and I don't think we should hoist that requirement to a web component which, upon support being introduced, would be unnecessary. With that said, I don't see any implementation which would require us to provide special handling for react bey

[2021-11-16 19:21] rchiodo commented on #210
I may be wrong, but the canvas I think is hosting the 3 pages of elements that are visible. The source code for the grid we use is here: https://github.com/6pac/SlickGrid

[2021-11-16 19:27] hawkticehurst commented on #210
Oh yeah sorry if I wasn't as clear, I completely agreed that the web components should not shoulder/take on React's lack of compliance with the DOM standard. My question was indeed just supposed to make sure that there weren't any gotchas or special handling that would be required beyond wrapping the component.

But it sounds like it shouldn't be an issue so I'm happy. 🙂 Thanks for clarifying @chr

[2021-11-16 20:24] connor4312 commented on #210
Something else we just hit in the hex editor: very large scroll regions will reach the maximum scroll height defined in browsers, and therefore we [had to implement](https://github.com/microsoft/vscode-hexeditor/commit/709996ff48e79681456bbacd3259ca93125b2c5b) non-native scrolling. May or may not be in scope for this, but it sounds like something the Python team may hit. The cap is somewhere aroun

[2021-11-16 20:25] scomea commented on #210
For a basic scenario all that should be required is for the author to set the "virtualize" flag and provide item height.  That should result in a navigable virtualized grid.  Once authors want to be able to move focus to virtualized elements and the such that gets more complicated.  This really is the ideal stage for hammering out the api.

[2021-11-16 20:29] scomea commented on #210
Yeah, I've been thinking we'll need to do some special scrolling implementations at some point to support very large displays.

[2021-11-16 21:25] hawkticehurst opened #299 "Publish toolkit components as wrapped React components"
### Feature/component description

As members of the community have been testing out the [fast-react-wrapper](https://www.npmjs.com/package/@microsoft/fast-react-wrapper) in order to use the toolkit components inside React-based webview extensions the process of getting correctly set up has proven to be a bit difficult.

In order to ease some of the pain points and boilerplate currently required t

[2021-11-16 21:27] hawkticehurst commented on #299
Oh, also cc @mattrothenberg.

I just realized I can't seem to add you as an Assignee for this issue because I assume you're not a part of the Microsoft GH org.

[2021-11-16 21:29] mattrothenberg commented on #299
No problem! Starring this issue and will post updates as I make them. Stay tuned.

[2021-11-16 21:35] hawkticehurst commented on #299
Also, a final thought for the moment is an implementation detail for @mattrothenberg:

In terms of defining the actual wrapped component code, I think I would prefer for it to live inside a `src/index-react.ts` file that pulls in all the toolkit components, wraps them with the `fast-react-wrapper`, and then exports those newly created React components.

Not super sure if there will be any gotchas

[2021-11-16 21:36] mattrothenberg commented on #299
@hawkticehurst Agreed with this approach.

[2021-11-16 21:37] hawkticehurst commented on #299
Woo, thank you!! 🎉

Also obviously feel free to reach out with Qs as you get oriented with the repo.

[2021-11-16 21:41] hawkticehurst commented on #283
FYI: Here's the [issue](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/299) for publishing the toolkit components as a set of wrapped React components for those who want to follow its progress.

[2021-11-17 05:47] atanasster commented on #296
@hawkticehurst , maybe I am missing something - but how can I use the TreeView API in a webview?

[2021-11-18 17:44] hawkticehurst commented on #296
@atanasster Whoops totally missed this message until now.

Also, oh yeah, sorry if that wasn't super clear. No, you're not missing anything, the TreeView API cannot be used inside a webview.

With that said, I totally realized I forgot to ask you what you're trying to use a tree view for in your webview? (Or more accurately, I thought you had already added your thoughts to [this issue](https://git

[2021-11-18 23:35] atanasster commented on #296
@hawkticehurst , sorry I had missed that other conversation, and will add my use-case and comments there

[2021-11-18 23:45] hawkticehurst commented on #296
No worries at all! Twas an easy issue to miss.

But yes, adding your thoughts/uses cases in that thread would be greatly appreciated! Thank you 🙂

[2021-11-19 02:12] atanasster commented on #255
Hi,

I would love to see this added to the components, so it can be styled in accordance.

My use-case is where a tree view is used inside of a grid to display property types: https://github.com/ccontrols/instant-documentation-vscode

 Currently using the `fast-tree-view`, and applying a few styles to make it look seamless inside of the `vscode-webvoiew-ui` components:

 https://github.com/ccontro

[2021-11-24 00:07] hawkticehurst commented on #283
Chiming in with another update to say that an (almost complete) first draft of the React sample extension and documentation is now viewable [here](https://github.com/microsoft/vscode-webview-ui-toolkit-samples/pull/41)!

I'd appreciate feedback from anyone who has the time and interest to check it out. _Also please note that the PR description has a couple of important notes/tips that should be re

[2021-12-03 12:48] DragosMiloiuNXP commented on #74
I'm running into the same problem. I think that importing toolkit.js from node_modules is a bit awkward. Is there a better way to do this now?

[2021-12-03 16:05] dzhavat commented on #74
What I did in one of my extensions was to manually copy the `toolkit.min.js` in own folder and use it this way. Not the best but until there's a better way, I'd continue doing that.

[2021-12-07 00:02] hawkticehurst commented on #74
@DragosMiloiuNXP I still haven't had time to tackle this specific issue for vanilla-JavaScript-based extensions. I am currently working on a React sample that by proxy tackles this issue and should be finished sometime in January.

With that said, if you're willing to use TypeScript for your webview code, I noted a few weeks ago that @orta (a member of the TypeScript compiler team) created [an ext

[2021-12-07 00:51] hawkticehurst commented on #189
Hey @Shivamd1, checking in again to see if you have verified that the panel issue has been fixed? Thanks!

[2021-12-07 07:00] Shivamd1 commented on #189
@hawkticehurst Verified and the issue does not repro closing the bug

[2021-12-07 07:00] #189 closed

[2021-12-07 07:07] DragosMiloiuNXP commented on #74
@dzhavat, @hawkticehurst Thank you for the answers.

After giving it some thought I decided to use react. So until January when the sample extension will be available, I have time to rewrite my code to use react.

[2021-12-07 08:14] atanasster commented on #74
@DragosMiloiuNXP , I am already using react with `webview-ui-toolkit` and doing custom registration while looking forward to the release of the react wrappers.

If you would like to start now with react, take a look at my vscode extension:

- register  `webview-ui-toolkit`: https://github.com/ccontrols/instant-documentation-vscode/blob/82a839357e756ccd48f401a6d51804aa2f5c2da9/src/webview/index.tsx

[2021-12-07 16:57] hawkticehurst commented on #189
Thanks!

[2021-12-09 00:22] hawkticehurst commented on #298
@softmarshmallow checking in once more, is it okay to close this issue, or are there outlying problems that still need to be resolved that should be put on our backlog?

[2021-12-09 00:25] hawkticehurst commented on #285
Closing since the [alias issue](https://github.com/microsoft/vscode-webview-ui-toolkit-samples/issues/2) has been closed.

[2021-12-09 00:25] #285 closed

[2021-12-09 08:19] softmarshmallow commented on #298
Oh. Sorry for the rate reply. Sure. I'll add a new comment or open a new issue if something new comes out. :)

[2021-12-10 00:51] hawkticehurst commented on #298
No worries at all! Thanks for the reply regardless!

I'll go ahead and close this issue and yes please do create new issues if run into any other trouble in the future. 🙂

[2021-12-10 00:51] #298 closed

[2021-12-10 01:12] #297 closed

[2021-12-11 23:44] iddan commented on #255
Hey, I would love to see this added as well.
My use case is a tree view to show custom search results.
I created a poor-mans implementation just for demonstration purposes:

<img width="1024" alt="Screenshot 2021-12-12 at 1 43 47" src="https://user-images.githubusercontent.com/12671072/145695092-ea71832d-3d9b-4c43-885f-3d5f58851427.png">

[2021-12-14 13:25] yannickowow commented on #254
Hello,
I was also looking on this and going deeper on this subject. It looks like `HTMLInputElement` does not throw a `change` event containing the directory path if it is empty (currently out of W3C spec...). Do you think that is component will strictly extend a `input` element or it will be able to load an empty directory ?

Best Regards!

[2021-12-14 18:01] chrisdholt commented on #254
If the VSCode team decides to leverage the FAST component class and template it'll be form associated, but I believe the current plan for the change event is to map to the proxy element. You can take a look here at the progress: https://github.com/microsoft/fast/pull/5336/files

Could you elaborate on your need and possible implementation regarding your expectations above w/ loading an empty direc

[2021-12-14 22:01] yannickowow commented on #254
My current `webview` implementation uses a `input` with non-standard webkitdirectory attribute. It allows to select a folder instead of a file. However, it does not work if this one is empty.
I use this input component to select a folder to run a CLI in a given working directory.

But I guess that is out-of-spec, since W3C does not support directory selection yet

[2021-12-14 23:49] chrisdholt commented on #254
Technically the FAST class can be extended to include non-standard attributes and behaviors such as this; it's a benefit of the approach we take. I don't think _we_ would include this attribute out of the gate as it's not standard, but it certainly could be included here if the VSCode team saw value in that specific non-standard attr. Alternatively, you could also extend yourself and depending on

[2021-12-19 04:00] worksofliam commented on #254
@daviddossett Hope you are having a good end of the year so far - jealous of your long time off!

My idea for work around:

1. I have a button and text
   * Button label: Chose file
   * Text label: ...
2. Click on the button -> `vscode.postMessage` which calls `scode.window.showOpenDialog`
3. When file is chosen, send back to frontend with `webview.postMessage`
4. Handle chosen file with `window.

[2021-12-19 04:34] worksofliam opened #306 "Text Field password?"
Hi

It doesn't seem text-field doesn't support passwords. E.g. typing where the characters are masked.

Here is my existing webview using a different UI framework.

![image](https://user-images.githubusercontent.com/3708366/146663978-964a0c92-27a9-4dc5-b705-0fefd9b4ed88.png)

[2021-12-22 20:03] jckr opened #307 "storybook example with icon buttons inside of text field"
### Feature/component description

Currently, we have storybook examples with start or end icons inside a text field. These examples use a single span element with a slot property.
Glancing at these examples, I wasn't sure whether it was possible to have something else than a display icon in these text fields, when actually, it's pretty simple to use the same approach to have a vscode-button insid

[2021-12-27 20:18] hawkticehurst commented on #306
Thanks for the call out @worksofliam!

This functionality is actually built-in, but it looks like I forgot to document it (apologies 😅). You can add the following attribute and it should solve your problem:

[code]

[2021-12-27 20:19] hawkticehurst commented on #306
I'll also add an item to the backlog to update our docs to reflect this.

[2021-12-28 16:15] hawkticehurst commented on #307
Thanks for bringing this up @jckr –– I think this is a reasonable request!

Also just to make sure I understand your request, I'm interpreting this as you're hoping for a code sample that demonstrates the full extent of how the `slot` attribute can be used in the `vscode-text-field` component. Does that feel correct?

If so, the short answer is that any arbitrary HTML should be valid when the `slo

[2021-12-28 23:45] jckr commented on #307
Hi Hawk, I've already made a UI that implements this in an extension. My markup looks like yours, though i didn't wrap the vscode-button elements in a section - I just set slot="end" for all of them, set aria roles to checkbox and gave them an extra class on toggle. What i'm suggesting is to have an example in your storybook that show this kind of UI in action, as I see input boxes with clickable

[2021-12-29 18:31] #289 closed

[2021-12-29 18:36] hawkticehurst commented on #289
This issue should be fixed now!

The problem was the result of a limitation in how TypeScript does type inference––you can read more about it in [this issue](https://github.com/microsoft/fast/issues/5387). The solution was to just be more explicit in adding the correct types when registering toolkit components.

Also as a heads up, I'm probably going to wait a bit to publish the changes so that th

[2021-12-29 19:11] #306 closed

[2021-12-30 18:11] hawkticehurst commented on #307
Ahh okay, I'm oriented now, thank you for clarifying!

Yes, I think that's a great idea and fits wonderfully within a larger vision we've had about being able to provide a set of helpful/common UI [patterns](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/116) and [best practices](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/126) for extension authors.

More than hap

[2022-01-05 01:44] hawkticehurst commented on #283
## Update time

As of toolkit package `v0.8.5` (released today), we **_should_** finally be unblocked in the ability to properly wrap toolkit components as React components! 🎉

There's still a bit of work left to do on shipping a set of React components, but for the truly eager (who don't want to wait any longer) you should be able to wrap your own components without too much issue.

## A quick gu

[2022-01-10 21:23] WebFreak001 opened #313 "data-grid: narrow cells too wide with grid-template-columns"
### Describe the bug

If cells are too narrow in width, the get sized up, causing issues with the total width of the grid.

### To reproduce

Create a `<vscode-data-grid>` with `grid-template-columns="1fr 40px 40px 40px"` and css `max-width: 400px` on the parent of it

[code]

### Expected behavior

the 3 columns should be 40 px in width, but is actually 96 px in width

### Screenshots

![screensh

[2022-01-10 22:06] hawkticehurst commented on #313
How interesting/bizarre! Thanks for letting us know @WebFreak001!

I've added this to our backlog and should ideally get around to it once we've finished up the current round of priority to-do items/issues.

[2022-01-13 22:02] mattrothenberg opened #315 "feat: syntax highlighting component"
### Feature/component description

It'd be awesome if there were a syntax highlighting component that users could put in their web view. We (GitHub Next) have already run into a few cases where we've needed this functionality, and ultimately hand-rolled it with https://highlightjs.org/. This _works_ but it's a pretty heavyweight solution. It was also difficult to match the user's VSCode syntax hig

[2022-01-14 22:34] daviddossett commented on #126
Some early thoughts on how we could improve the experience of developing webviews (taken from offline brainstorm w/ @hawkticehurst and @misolori

## Hypotheses
- There are [limited design guidelines](https://code.visualstudio.com/api/references/extension-guidelines#webviews) and samples that showcase best practices and inspiration for extensions using webviews
- The [cat coding guide](https://code

[2022-01-17 19:31] hawkticehurst opened #316 "Automate setting up toolkit builds in a webview environment for testing"
### Feature/component description

Create a Node script that automates the steps required to copy a new toolkit build into a webview extension environment so that it can be manually/visually tested.

### Use case

Currently, the process of testing toolkit builds inside a webview takes around [11 manual steps](https://github.com/microsoft/vscode-webview-ui-toolkit/pull/273#issuecomment-949029062) a

[2022-01-18 20:51] #316 closed

[2022-01-19 22:36] #181 closed

[2022-01-23 11:14] fcollonval opened #319 "Attribute shadowing observable"
### Describe the bug

The added attribute `Button.appearance` is not observable because the observable getter/setter are shadowed by a direct attribute `appearance` on the instance.

### To reproduce

1. Install this repo

[code]

2. Place a breakpoint on the first line of `Button.connectedCallback`
3. Select the default or secondary story
4. See that the observable `appearance` attribute (using s

[2022-01-24 08:27] fcollonval commented on #319
I figured it out thanks to that [storybook issue](https://github.com/storybookjs/storybook/issues/12369).

The error is due to the babel configuration used for transpiling the code from TypeScript to JavaScript. Switching to `ts-loader` as in microsoft/fast repository solved the issue ([fixing commit](https://github.com/jupyterlab-contrib/jupyter-ui-toolkit/commit/f51ad6a5b00d892e8435f5035932e4dc2

[2022-01-24 08:27] #319 closed

[2022-01-25 19:13] #299 closed

[2022-01-25 22:44] hawkticehurst commented on #283
🎊 Toolkit package `v0.9.0` just dropped today and now ships a set of React components!

Using the new components is as simple as importing the toolkit package into your project and just adding '/react' to the end of the import path. For example:

[code]

Most of the original toolkit documentation should map 1:1 with the new React components, but dedicated documentation and sample extensions will b

[2022-02-02 14:22] mattrothenberg opened #324 "VSCodeLink alignment incorrect when used inline"
### Describe the bug

When using the `<VSCodeLink />` react component inside of a paragraph tag, the resulting alignment looks off.

![Screen Shot 2022-02-02 at 9 20 24 AM](https://user-images.githubusercontent.com/5148596/152171914-73be6e59-7cf5-4473-9e0a-ea040c3490ad.png)

### To reproduce
https://codesandbox.io/s/ecstatic-worker-ygz28?file=/src/App.tsx

[code]

### Expected behavior

I would ex

[2022-02-02 14:29] mattrothenberg opened #325 "Enum types potentially too strict"
### Describe the bug

When using the `VSCodeRadioGroup` component, I noticed that the following code resulted in a Typescript error

[code]

[code]
While I was able to resolve this by importing the `RadioGroupOrientation` enum from the package, it struck me as odd that the string `vertical` or `horizontal` didn't satisfy the `orientation` prop. Particularly considering the definition of the enum i

[2022-02-02 18:16] hawkticehurst commented on #324
Thanks again for filing this!

[2022-02-02 18:24] hawkticehurst commented on #325
Yep 100% agreed!

If you didn't already see it I opened an [upstream issue](https://github.com/microsoft/fast/issues/5494) in FAST that aims to solve this exact problem.

Once that lands this issue should be resolved.

I'll also go ahead and leave this issue open for visibility in case anyone else runs into the problem.

[2022-02-03 10:17] javahacks commented on #255
A tree component was great. However I would also consider a more complex tree-table control as shown in the first use case here https://github.com/microsoft/vscode-webview-ui-toolkit/issues/255#issuecomment-942414503 .

Here you see what I have in mind in [action](https://primefaces.org/primeng/showcase/#/treetable/size
). I believe there are many use cases where you have to show structured inform

[2022-02-03 23:01] #286 closed

[2022-02-05 11:40] WebFreak001 opened #327 "vscode-dropdown does not respect empty option values"
### Describe the bug

When having a dropdown with an option with value set to the empty string, the empty value is not used, but the label of the option instead.

### To reproduce

[code]

### Expected behavior

`testin.value` should be `""` when selecting `Foo`, as this is how the HTML select dropdown behaves, but it's actually `"Foo"`.

### Desktop (please complete the following information):

-

[2022-02-07 19:35] #126 closed

[2022-02-07 23:38] hawkticehurst commented on #327
Hey @WebFreak001, thanks for the heads up! I did some testing of my own and can confirm the issue!

In this case, since the toolkit doesn't do anything to alter the `value` attribute behavior of the `option` component provided by FAST (the framework we use to build the toolkit) this is actually going to be an upstream issue that they will have to fix.

I'm happy to open this issue with FAST on you

[2022-02-08 19:59] hawkticehurst commented on #327
@WebFreak001 looks like FAST had a really quick turnaround on fixing this issue!

If I recall correctly, they publish new package updates via a nightly build so we should have this change merged into the toolkit by tomorrow 👍

[2022-02-08 21:03] hawkticehurst opened #329 "React peer dependency required for some web-component-only extensions to build"
### Describe the bug

Bubbling this issue up from the VS Code community Slack.

A toolkit dev ran into an issue where their extension failed to build because the `fast-react-wrapper` toolkit dep requires `react` as a peer dependency despite the fact that their extension only uses the vanilla web components.

This issue only seems to occur when using a build tool (like Webpack) to bundle/build exte

[2022-02-08 21:38] #324 closed

[2022-02-08 21:48] hawkticehurst opened #331 "Add react-specific documentation"
### Feature/component description

With the recent release of React toolkit components, there are a couple of edge cases and gotchas that need to be documented for those who will be using the toolkit React components. Namely, there needs to be an inclusion of:

- Using enums for a handful of component attributes at this time (#325 / [fast issue](https://github.com/microsoft/fast/issues/5494))
- Th

[2022-02-09 15:47] mattrothenberg commented on #331
These look good to me.

I'd still like to get that Storybook (https://github.com/microsoft/vscode-webview-ui-toolkit/pull/312) published, as we can provide code samples there. Unfortunately I just _cannot_ get around that weird error we're seeing around certain props not being applied.

[2022-02-09 20:50] WebFreak001 opened #332 "vscode-dropdown JS generated option with selected property not selected"
### Describe the bug

When generating vscode-option elements inside a vscode-dropdown and setting `.selected = true;` on one, it should be selected in the UI, but isn't (reset by an internal reset if no values are selected check)

### To reproduce

[code]

### Expected behavior

Value 2 should be selected in the example, not Value 1

### Desktop (please complete the following information):

-   OS

[2022-02-09 20:56] WebFreak001 commented on #332
(made an issue in FAST: https://github.com/microsoft/fast/issues/5583)

[2022-02-09 21:59] #327 closed

[2022-02-09 22:11] daviddossett commented on #313
@WebFreak001 what would you expect to happen with the header cell text when the columns are rendered at 40px wide?

There will likely always be some tradeoffs at that size unless we explore other fallbacks like an `overflow` rule. Some of those fallbacks have accessibility issues, so we may need to do some digging here.

[2022-02-09 22:17] WebFreak001 commented on #313
I would probably expect ellipsis or clipping of the header if there is not enough space. When using these tiny cells most often I would need to take care of how to render the labels anyway. Long labels could also be rotated sideways by the user (like with CSS)

[2022-02-09 22:36] hawkticehurst commented on #332
Thanks for the issue and for filing an issue with FAST as well! I'll keep an eye on the progress and merge any changes the FAST team adds once they are available!

[2022-02-14 17:13] rangav opened #335 "Webview Enhancements"
### Extension/feature description
In Notepad example
https://github.com/microsoft/vscode-webview-ui-toolkit-samples/tree/main/default/notepad

1.  How can we show alert when user is trying to close webview without saving? like in default editor
2. Italic title option for readonly mode like in editor
3. Dirty Indicator (black dot beside title) for unsaved mode like in default editor

### Use case

[2022-02-14 21:31] daviddossett commented on #335
Hey @rangav, this looks like something the [Custom Editor API](https://code.visualstudio.com/api/extension-guides/custom-editors) would be best suited for.

As far as the toolkit it concerned, any issues or requests related to the that API would be better filed on the main [VS Code repo](https://github.com/microsoft/vscode/issues).

[2022-02-14 21:31] #335 closed

[2022-02-14 22:04] rangav commented on #335
Hi @daviddossett do you have example project how to use customEditor api with virtual documents?.

 I have have any physical documents or files

[2022-02-14 22:08] rangav commented on #335
Can you provide Notes example project with custom editor api similar to below one

https://github.com/microsoft/vscode-webview-ui-toolkit-samples/tree/main/default/notepad

[2022-02-14 22:25] daviddossett commented on #335
[Here's the "official" Custom Editor sample](https://github.com/microsoft/vscode-extension-samples/tree/main/custom-editor-sample) in case you hadn't see it yet.

We'll take a look at the toolkit samples to see if it makes sense to use that. Could very well be a good idea given that the Notepad sample also suffers from lack of proper document states.

[2022-02-15 06:16] rangav commented on #335
That sample is based on physical files, which I don't have in my extension

I am looking for virtual document, like the notes app

if you can add another notes example using customEditor API that will be very useful

[2022-02-15 06:23] rangav opened #337 "Notes sample with CustomEditor API"
### Feature/component description

Can you provide notes example with CustomEditor API like below one

https://github.com/microsoft/vscode-webview-ui-toolkit-samples/tree/main/default/notepad

### Use case

I am creator of [Thunder Client](https://marketplace.visualstudio.com/items?itemName=rangav.vscode-thunder-client) extension, I can't find example how to use CustomEditor api with virtual docum

[2022-02-15 06:33] rangav commented on #335
I created a new feature request to provide notes example with CustomEditor api https://github.com/microsoft/vscode-webview-ui-toolkit/issues/337

[2022-02-15 06:36] rangav commented on #337
related https://github.com/microsoft/vscode-extension-samples/issues/477

[2022-02-16 01:54] hawkticehurst commented on #337
Hey @rangav, thanks for filing this sample request!

With that said, would you mind closing and moving this issue to our [sample extension repo](https://github.com/microsoft/vscode-webview-ui-toolkit-samples/issues) since that's where we track all our sample related work and I don't want this to get lost amongst other toolkit issues?

[2022-02-16 05:30] rangav commented on #337
Hi @hawkticehurst sure

moved to samples https://github.com/microsoft/vscode-webview-ui-toolkit-samples/issues/60

[2022-02-16 05:30] #337 closed

[2022-02-16 19:05] hawkticehurst commented on #337
Awesome, thanks so much for doing that!

[2022-02-17 00:24] #331 closed

[2022-02-18 23:43] #258 closed

[2022-02-18 23:53] daviddossett opened #340 "Text area: `scrollbar-corner` element renders white borders"
### Describe the bug

The scrollbar styling overrides applied in #338 resulted in a strange side effect where the resize handle's hit area render white border(s) on the top/left of the handles. Looks possible like some sort of weird user agent styling coming through as a result of the overrides.

<img width="445" alt="CleanShot 2022-02-18 at 15 52 17@2x" src="https://user-images.githubusercontent.

[2022-02-23 13:13] gar1t opened #341 "Reuse VS Code browser/ui toolkit"
### Feature/component description

VS Code itself has a full set of UI components (see vscode/src/vs/base/browser/ui). Rather than duplicate (much of?) this facility in a separate library, why not enable its reuse for custom extensions? Is there a way to do this, short of packaging the upstream source myself?

### Use case

I'm creating various VS extensions and want a UI for building something th

[2022-02-24 23:08] hawkticehurst commented on #307
cc @daviddossett

[2022-02-24 23:21] daviddossett commented on #341
Hey @gar1t, thanks for asking. Technically this is probably possible, but it isn't trivial, and such an effort would need considerable support from the VS Code core engineering team. The team is quite small and has limited bandwidth—they aren't in a position to investigate this and groom/restructure those components to be ready for reuse in a formal component library given everything else they are

[2022-02-24 23:36] daviddossett opened #342 "Fix minor style issues across the toolkit"
### Describe the bug

Tracking an issue for myself to do the following:
- Ensure font stack mirrors VS Code on all platforms
- Double check dimensions on all components
- Double check interaction states on all components

[2022-02-24 23:41] daviddossett opened #343 "Create script for testing components in vscode.dev"
### Feature/component description

Now that we have the test script for quickly standing up the `Component Gallery` sample in a new local extension host, it would be super useful to have a similar solution for vscode.dev. We've already seen various small styling issues across different browsers.

### Screenshots/references

The [vscode-test-web](https://github.com/microsoft/vscode-test-web) packag

[2022-02-25 00:26] hawkticehurst commented on #342
Had another thought: might be nice to also do some light compare and contrast between our component styles and the CSS defined in the `vscode/src/vs/base/browser/ui` component folders.

[2022-02-25 00:30] daviddossett commented on #342
Yep great idea!

[2022-03-02 22:46] #277 closed

[2022-03-02 22:46] #278 closed

[2022-03-02 22:47] #313 closed

[2022-03-03 00:42] hawkticehurst commented on #276
@atanasster I just opened a PR that resolves the original problem defined in this issue (i.e. setting better data grid column width defaults that should avoid this issue around incorrect cell alignment).

It does not, however, address some of your later comments about wanting columns to be auto-sized to the content. In the meantime, I think the solution is to manually define the `grid-template-col

[2022-03-03 03:30] atanasster commented on #276
@hawkticehurst thank you very much for the work, i already noticed the PR and am excited to try it out. Currently on a trip to Vegas and will give you feedback next week(ish) when I am back home.

For the columns, since my usage is dynamic (sometimes the jsdoc description for data types can be completely missing, and other times it can span multiple lines) - its a bit hard to fix the relative size

[2022-03-03 05:01] axelthat2 opened #347 "How to use in vanilla html?"
### Describe the bug

When I try to use the vscode webview components in my vanilla app, I get the error,
[code]

### To reproduce

1. `git clone https://github.com/axelthat2/vscode-bug`
2. Open developer tools and you can see the error.

### Expected behavior

Web components to work.

### Screenshots

<img width="1673" alt="Screen Shot 2022-03-03 at 10 45 34 AM" src="https://user-images.githubuse

[2022-03-03 19:18] #276 closed

[2022-03-03 19:56] hawkticehurst commented on #347
Hey, @axelthat2 I checked out your repo (thanks for providing a reproduction of the issue!) and it seems like a simple case of using the incorrect functions/API to set up the components properly.

Change your `src/main.ts` file to include the following:

[code]

Also if you want to use other components, simply import the desired component function (always in the form `vsCode{ComponentName}` and th

[2022-03-03 20:04] hawkticehurst commented on #347
I'm also going to go ahead and close this issue and open a new one about updating our documentation to better highlight this information since up to this point this method of using the toolkit components isn't that well documented, except in [fairly deep issue threads](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/283#issuecomment-961103031) and also in the [FAST getting started gu

[2022-03-03 20:04] #347 closed

[2022-03-03 21:26] hawkticehurst opened #348 "Add docs on how to register toolkit web components in JS/TS"
### Feature/component description

Based on [this issue](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/347), we should do a better job of documenting/highlighting how to register toolkit web components from within a JavaScript or TypeScript file.

Like so:

[code]

### Use case

Toolkit users may not always want to use the toolkit via the bundled `toolkit.js` or `toolkit.min.js` fi

[2022-03-04 01:10] hawkticehurst opened #350 "Final `v1.0` pass on documentation"
### Feature/component description

In preparation for the upcoming `v1.0` release of the toolkit do a final pass on all the toolkit documentation and samples. In particular, this work should cover a final pass on the:

- Getting started guide
- Project readme

[2022-03-04 08:57] axelthat2 commented on #347
Thank you so much. That helps a lot. I tried going through the toolkit docs and couldn't find anything. Adding doc for this issue will be so much great. Again thank you for your swift response.

[2022-03-04 17:19] daviddossett commented on #350
Looks great so far. I'll add comments here if I think of anything in the next week.

[2022-03-04 18:48] hawkticehurst commented on #347
You're welcome, happy to hear it was helpful!

[2022-03-10 22:27] hawkticehurst commented on #257
Hey @estruyf / @atanasster, circling back to this issue and seeing there are a ton of parallel conversations/ideas in this thread.

First, @estruyf, I want to see if the original issue posed in this thread feels like it's been resolved and this issue can be closed? Did the release of the toolkit React components help? Is there anything missing?

I'll also call out that the [most recent toolkit rel

[2022-03-10 22:32] #136 closed

[2022-03-11 07:05] estruyf commented on #257
Thanks @hawkticehurst using it in one of my extensions and it works perfectly now! Thanks for the work. Feel free to close this one.

[2022-03-11 17:24] hawkticehurst commented on #257
Yay, I'm thrilled to hear that! Thanks for letting me know! 😊

[2022-03-11 17:24] #257 closed

[2022-03-15 23:59] pwang347 opened #352 "Add multi-select dropdown component"
### Feature request

Firstly, thanks for the great work in this project! It would be great to have a multi-select dropdown component (possibly exposed as an option for the existing dropdown).

### Expected behavior

* Each dropdown item would have an indicator of whether it is selected or not (e.g. a checkbox)
* Clicking an item would not dismiss the dropdown menu, but would instead toggle that st

[2022-03-16 00:44] hawkticehurst commented on #352
Hey Paul! Thanks for the component suggestion! Happy to hear it sounds like your experience with the toolkit has gone smoothly thus far.

I'd certainly be open to discussing the inclusion of a multi-select dropdown. It might end up a bit of a long pull to get something like this into the toolkit because I don't believe anything like this exists in `fast-foundation` at this time and thus might take

[2022-03-16 00:45] hawkticehurst commented on #352
Also cc @daviddossett for any design input/thoughts on this type of scenario/proposed component

[2022-03-16 05:11] pwang347 commented on #352
That makes sense, also appreciate the suggestions!

Yes, vertical space is a concern here since we'll expect to see somewhere around 10-20 items typically and have some additional controls beneath it. A max-height listbox could definitely work and gives us further flexibility to customize, e.g. adding some sort of sticky header for item grouping.

I guess my only two worries are that it might be a

[2022-03-16 21:02] hawkticehurst commented on #352
Yeah, the visual summary of selected items would definitely take more effort but, depending on what you want to do, I'd wager it wouldn't be too hard actually. For example, I bet the comma-separated list idea you mentioned in the original comment could be achieved in a couple of lines of JS/TS. Something like so (give or take a few details) could probably get you pretty far:

[code]

With all that

[2022-03-16 21:03] daviddossett commented on #352
FWIW I don't believe there are multi-select dropdowns in VS Code.

[2022-03-16 21:16] daviddossett commented on #352
@pwang347 Assuming this is for the DW extension, I can send you a note tomorrow about ways to get around this.

[2022-03-17 16:41] daviddossett opened #353 "Storybook: progress ring is clipped"
It seems like the progress ring is getting clipped somehow when viewed in Storybook:

![CleanShot 2022-03-17 at 09 40 23](https://user-images.githubusercontent.com/25163139/158850263-f3be6995-70fa-448c-816a-6f3bcbbef781.gif)

[2022-03-17 16:47] daviddossett opened #354 "Storybook: panels always show focus border"
Once focused, the focus border is stuck on a panel title until blurred. Doesn't seem to repro when using the test script:

Storybook:
<img width="447" alt="CleanShot 2022-03-17 at 09 46 42@2x" src="https://user-images.githubusercontent.com/25163139/158851432-db646dce-6376-4dd1-b616-fbbe269430ba.png">

Component Gallery:
<img width="467" alt="CleanShot 2022-03-17 at 09 45 38@2x" src="https://user-i

[2022-03-17 17:12] #353 closed, assigned to hawkticehurst

[2022-03-21 17:16] eouin opened #355 "React - blank page when using ui-toolkit react component"
### React component resulting on error

When using a react component in a react webview It result with an error on the console

here is the sample code:

![CleanShot 2022-03-21 at 17 10 12](https://user-images.githubusercontent.com/526128/159327219-ff97d7b0-ceda-479c-96c0-039bd7236816.jpg)

when running the extension via the Run and Debug tab, it result on an error:
![CleanShot 2022-03-21 at 17 12

[2022-03-22 12:34] #355 closed

[2022-03-22 16:24] daviddossett commented on #355
Phew! Glad to hear that you worked it out.

[2022-03-22 17:55] hawkticehurst commented on #355
^ +1 to that!

[2022-03-23 03:29] F3n67u opened #356 "`.vscode-test-web` folder is published to npm"
### Describe the bug

a 23M `.vscode-test-web` dir is published to npm, make `vscode-webview-ui-toolkit`'s unpack size huge(24.3M current)

https://unpkg.com/browse/@vscode/webview-ui-toolkit@0.9.2/

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/12343178/159617875-12cac90d-fb04-4307-9142-62ac7f2197b1.png">

### To reproduce

[code]

### Expected behavior

`.vscode-te

[2022-03-23 18:17] hawkticehurst commented on #356
Wowow 😅🤦🏻‍♂️ thank you so much for catching this (and for the subsequent PR)!

I'll go ahead and merge that right now and publish a new patched version of the package.

Also, no the `react` folder in the root directory should stay. It's the (annoyingly janky) way that we have to structure the NPM build at this time so that toolkit users can import the toolkit React components via the `@vscode/webv

[2022-03-23 18:44] #356 closed

[2022-03-25 20:54] #342 closed

[2022-03-28 20:20] #325 closed

[2022-03-31 17:27] daviddossett opened #365 "Button uses wrong background on hover with light HC theme"
![CleanShot 2022-03-31 at 10 25 12](https://user-images.githubusercontent.com/25163139/161114394-1f25f4f2-e03e-40dc-82f6-dd1f2b126caf.gif)

[2022-04-01 21:08] daviddossett commented on #365
It appears this is related to this behavior:

https://github.com/microsoft/vscode-webview-ui-toolkit/blob/3ba70540550ebe53a6010cacd7ff1a1d4c612d3e/src/utilities/theme/applyTheme.ts#L56-L60

I'm slightly confused since these values are indeed explictly set in VS Code core. E.g.

https://github.com/microsoft/vscode/blob/6fcf02f29a125db24f67bd9dc43110a02773edf0/src/vs/platform/theme/common/colorRegis

[2022-04-02 15:57] sketchbuch opened #366 "Please create an example of how to attach event handlers on to inputs"
I tried using the text input in my webview but need to listen to events like keyup, change, etc. but could not find out how to do this as the actual input is in the shadow dom.

[2022-04-02 16:24] sketchbuch commented on #366
Found out how via https://stackoverflow.com/questions/34112089/is-it-possible-to-bind-an-event-listener-to-an-element-within-a-shadow-dom-from

[2022-04-05 20:54] #350 closed

[2022-04-06 21:09] hawkticehurst commented on #366
Hey @sketchbuch!

Meant to respond to this earlier week, but got pulled into some other pressing work the last few days. I'm happy you were able to find a solution, however, it's not recommended that you target elements inside the shadow DOM to do event listening.

I'm assuming you were trying to listen to events on the `vscode-text-field` or `vscode-text-area` based on your description. If so, yo

[2022-04-07 06:46] sketchbuch commented on #366
Hello @hawkticehurst,

Yes, it does work. My problem was caused by having the input surrounded by a form. It wasn't triggering the submit and I thougfht none of the events were working.

Apparently inputs in shadow dom can't trigger a wrapping form's submission by implicit submisssion (pressing enter)
https://www.hjorthhansen.dev/shadow-dom-and-forms/

This seems to have been what caused my issue.

[2022-04-07 06:49] sketchbuch commented on #366
I will re-open this as I'm not sure you will get my reply if it is closed. Feel free to re-close as my issue is solved. Thanks, for the examples!

[2022-04-14 14:14] rbergman opened #369 "Please document how to add a label to a dropdown component"
Most components in the toolkit seem to accept a text child which is used as its label.  The dropdown does not seem to work like that, accepting only option children in a meaningful way.  I can see that the gallery screenshot shows off a label above the dropdown demo, but the corresponding gallery app does not demonstrate how this was done.  Is there an official way to add a label that is consisten

[2022-04-14 14:22] rbergman opened #370 "Please add a combo box component"
### Feature request

A combobox component with autocomplete support would be extremely valuable for easily building richer user experiences with this library.

### Expected behavior

Exactly as it works in the FAST component library.

### Current behavior

No combo box is available.

### Use case

Many form fields require a combination of either predefined static choices or free-form user input.

[2022-04-14 23:40] hawkticehurst commented on #352
Going back through old issues. Was your issue resolved @pwang347 or is a multi-select dropdown component something you're still requesting?

[2022-04-14 23:42] chrisdholt commented on #352
FYI - multiselect mode went in (yesterday?) to fast-foundation. Should be supported on listbox AND select :).

[2022-04-14 23:45] hawkticehurst commented on #329
I could never reproduce the problem described above (even after discussions with the original person who reported it), so I'm closing this issue.

If someone comes across this issue and is facing a similar problem as described above, please open a new issue giving specific details about what you're seeing. Thanks!

[2022-04-14 23:45] #329 closed

[2022-04-14 23:54] hawkticehurst commented on #352
Oh nice, thanks for the heads up @chrisdholt!

[2022-04-14 23:58] hawkticehurst commented on #370
Thanks for the request @rbergman!

We actually had a prototype combobox component implemented many months ago, but cut it right before our public preview because we were running into some gnarly accessibility issues.

It's been on our backlog to fix those issues and reintroduce the combobox since that time, so we can definitely try to revisit this component sooner than later now that we recently s

[2022-04-15 00:06] hawkticehurst commented on #369
Yeah, this discrepancy in usage/component API is something I've always noticed and wanted to circle back to.

The discrepancy is an implementation detail from the FAST Foundation dropdown component (versus other input components), so it would have to be addressed upstream––@chrisdholt do you have any insights on why dropdowns don't take text content and generate a label from it while other foundat

[2022-04-15 00:08] hawkticehurst commented on #369
Also for the sake of documenting it here, we also have an [open issue](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/259) on our backlog to explore creating a `vscode-label` component which could also become a sort of "official" way to handle the labeling of input elements.

[2022-04-15 00:16] hawkticehurst commented on #366
@sketchbuch thank you for the detailed summary! That's actually super helpful/enlighting for me (I hadn't realized there are potential issues with form usage in both webview and shadow dom contexts).

I'll go ahead and close this issue now, but think I'll add a new one that ensures I'll do a deeper exploration of forms/inputs/accessibility in the toolkit/webviews. And yes, at the very minimum I'll

[2022-04-15 00:16] #366 closed

[2022-04-15 00:23] hawkticehurst commented on #366
Also, we're still thinking about and collecting data/stories on tree view usage within webviews. We're still hesitant to duplicate this effort since the TreeView API already exists and we've [demonstrated how the TreeView API and webviews can be used together in an extension](https://github.com/microsoft/vscode-webview-ui-toolkit-samples/tree/main/default/notepad).

With that said, if this demonst

[2022-04-15 00:29] hawkticehurst opened #371 "More deeply explore form/input usage in webview extensions"
### Feature request

Based on the discoveries described in [this issue comment](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/366#issuecomment-1091140096), we should allocate some time to more deeply explore and understand how and when forms and inputs should be used within a webview extension.

The result of this work should be updated documentation and samples that describe/demon

[2022-04-15 18:17] rbergman commented on #370
That would be most appreciated, it's a pretty key component for our needs.  BTW, thanks for creating this library, it's really terrific to be able to build user interfaces that match the overall IDE.  Looking forward to more components as they become available 😄

[2022-04-15 18:19] rbergman commented on #369
That's a fair explanation, thank you.  The label component would be a fine official workaround, and the ad hoc workaround of adding our own top label until then is working just fine.

[2022-04-15 18:48] hawkticehurst commented on #369
You're welcome! And happy to hear a regular label will work for you in the meantime.

As a note to myself for future reference: I'm leaving this issue open (versus considering it a duplicate of #259) so I can more deeply explore if there's an opportunity to update the dropdown component implementation so that it can turn text content into a label like other input components.

[2022-04-15 18:59] hawkticehurst commented on #370
Good to know! Hopefully reintroducing it to the toolkit should go more smoothly/quickly this time.

Also, you're welcome, and thank you! Thrilled to hear it's doing its job well––definitely looking forward to expanding the toolkit to help out extension devs even more 😊

[2022-05-16 16:24] SethFalco opened #373 "bug: vscode-inputbox min and max attributes aren't respected"
### Describe the bug

Similar to Chromium, when the type is set to `number`, it only allows numerical characters. (i.e. `\d\.e` and whatever else, and it also adds an up/down arrow and lets user increment/decrement the number with their mouse.

However, the `min` and `max` attributes aren't being applied, usually a user can still type smaller numbers than the `min`, but using the buttons or scroll

[2022-05-17 23:58] hawkticehurst commented on #373
Thanks for the bug report @SethFalco!

I'm currently on vacation until the end of May, so I won't be able to dive into this deeply for a few weeks.

From a casual reading, however, I wanted to clarify what UI component your using exactly?

We don't ship a `vscode-inputbox` (only a `vscode-text-field` and `vscode-text-area`). Are you using one of those or something different?

cc @daviddossett

[2022-05-18 19:18] antross commented on #263
@daviddossett is this something your team might be picking up soon? Or would you be interested in external contributions?

I ask because we recently needed this control for some work in https://github.com/microsoft/vscode-edge-devtools/, but ended up creating a custom control as there wasn't an official one available yet. Rather than continuing to enhance our own control, I'd rather see us migrate

[2022-05-18 21:49] jeffb-sfdc opened #374 "Copying the contents of vscode-data-grid doesn't preserve the row and column formatting of the data"
### Describe the bug

Copying the contents of vscode-data-grid doesn't preserve the row and column formatting of the data.  We're displaying data in our extension using vscode-data-grid.  When a user selects and then copies the contents of the grid, the formatting and order is not preserved.  On the other hand, if divs & spans are used, the formatting remains.

### To reproduce
1. Start with the v

[2022-05-19 17:45] daviddossett commented on #263
Thanks for letting us know! We are indeed looking at releasing that component in the near future. @hawkticehurst is on vacation for another week or two but we recently talked about doing this work in the next month or two. I'll update this thread as soon as I can.

[2022-05-19 17:48] daviddossett commented on #374
Thanks for letting us know, @jeffb-sfdc. Hawk is on vacation for another week or two so responses may be delayed.

In general, I agree that it would be nice to have the formatting preserved.

[2022-05-22 01:07] SethFalco commented on #373
Huh… that might be my bad then. 🤔
`vscode-inputbox` is indeed the one used in the project.

Looks like I'm an idiot. 🤦🏾
Sorry about that, I just assumed it was part of the Visual Studio Code API.

Seems it comes from [bendera/vscode-webview-elements](https://github.com/bendera/vscode-webview-elements).

Sorry for the noise, I'll close this ticket and report/PR the fix there.

[2022-05-22 01:07] #373 closed

[2022-05-30 06:29] idoprz opened #375 "Add size attribute like the text-field"
Hi,

text-field has a size attribute, which is great. When I create a form, I control the size of the text field, but the drop down seems small in comparison. Can you add size attribute for the drop down as well?

[2022-06-13 23:28] hawkticehurst commented on #374
Hey @jeffb-sfdc! As David said, I was on vacation for the last few weeks so thanks for being patient!

I'm also in agreement that preserving formatting when copy-pasting data grid content would be desirable behavior to have.

In the case of changing the underlying HTML template/core behavior of our components, we rely on an upstream dependency for another Microsoft project called [FAST](https://fa

[2022-06-17 13:31] idoprz commented on #375
Hi,
You are right, I since there is a size attribute in the text field, I didn't really relized I can do this via CSS 😂. That's my bad.
I guess it still makes sense to have this attribute to have similar capabilities.

Thanks for your response!

[2022-06-17 18:43] hawkticehurst commented on #375
Haha no worries at all 😂

But agreed, this is probably a "yes and" situation where CSS should ideally solve the problem but I think it still makes sense to add the size attribute for consistency across the components.

[2022-06-18 10:56] NetaMolcho opened #376 "Option to add style to a placeholder of vscode-text-field"
### Feature request

First I really want to thank you for an amazing job.
And I would love to hear if there is an option of adding style to the placeholder of the vscode-text-field object.
I'm just trying to get placeholder to be 'font-style: italic' but without success.

### Expected behavior

To make only the placeholder be in 'font-style: italic', without what is written in the input of the vsc

[2022-06-18 16:13] bigbug opened #377 "TextField looses focus in Notebook view"
### Describe the bug
The TextField looses focus in Notebook view (tested with react).

### To reproduce

Render a text field and also a dropdown in a notebook renderer.
While mouse down, the text field receives the focus. However on mouse up the text field looses the focus. Therefore the user is unable to enter anything into the text field.
Once the dropdown field is removed from the code base, th

[2022-06-18 16:18] bigbug commented on #377
Probably could be related to this issue: [https://github.com/microsoft/vscode/issues/151981](https://github.com/microsoft/vscode/issues/151981)

[2022-06-20 16:16] daviddossett commented on #376
@NetaMolcho is this something you've seen in VS Code before? Generally speaking we intentionally limit the components to ensure the components look and feel like the "native" VS Code components.

[2022-06-20 16:17] daviddossett commented on #377
cc @rebornix

[2022-06-20 16:24] daviddossett commented on #377
Got it, thanks. I'll keep this open until that has been fixed 👍

[2022-06-21 00:10] jeffb-sfdc commented on #374
Thanks for the update!  I hope you are able to update the grid control so copy/paste keeps the formatting.

[2022-06-21 00:33] jeffb-sfdc opened #378 "Not able to stylize individual cells in a vscode-data-grid"
### Describe the bug
I'm attempting to stylize individual cells in a vscode-data-grid, however the text is being HTML escaped.  Is it possible to set a cell to stylized HTML?  Or to go back and set the CSS of a cell once the cell has been created?

### To reproduce

I'm creating a grid ala:
[code]

...and then setting the data like so:
[code]

### Expected behavior

I'd like the text in column 3 t

[2022-06-21 00:44] jeffb-sfdc commented on #378
I should also mention that I set a break point, and after
[code]
...is called, I tried to manually set the color, like so:
[code]
...but none of these set the color to red

[2022-06-21 21:41] bigbug commented on #377
@hawkticehurst : I can confirm the bug also occurs with
[code]

[2022-06-21 22:47] hawkticehurst commented on #377
@bigbug yeah I figured that would probably be the case. Thank you for double-checking regardless!

With that being the case, I'll default to what @daviddossett said -- we'll keep this issue open until the other one is fixed

[2022-06-24 22:07] daviddossett commented on #254
@worksofliam things have been on hold for a bit—we're just getting back up to speed on all things toolkit-related so I'll check back in soon.

[2022-06-24 22:21] hawkticehurst commented on #378
Hey @jeffb-sfdc! Thanks for the issue!

I started looking into this today but probably won't have a fully informed answer until next week.

But just wanted to give a status update before the weekend starts that I've seen the issue and am looking into it.

Thanks for your patience 😄

[2022-06-25 00:11] jeffb-sfdc commented on #378
Thanks, and no worries!

[2022-06-28 00:36] hawkticehurst commented on #378
Alright, I have some updates!

## ❌ Add stylized HTML

To answer the initial question, no I don't believe you will be able to add stylized HTML to the data grid because it will always be escaped (as you discovered)--this is done for security purposes.

## ❌ Go back and set cell styles after creation

This _should_ be possible, however, no matter what I try I keep running into a weird issue where a

[2022-06-30 00:34] jeffb-sfdc commented on #378
Thanks for the update @hawkticehurst

I figured as much.  Years ago I used ASP.NET MVC, and the Razor view engine defaulted to escaping HTML, but there were APIs that allowed you to override and send raw unescaped HTML.  It would be nice if there was a means to do this.

Absolutely!

(OK, I read through the details)

We kind of have a working fix, but it's really hacky, and probably pretty brittle

[2022-06-30 20:55] hawkticehurst commented on #378
You're welcome!

Unfortunately, something like this is out of our control at this point because we use a set of unstyled base components from another Microsoft project called FAST to implement all our components. With that said, I know their programming model/API is going to be changing a lot in the coming months/years to a point where we on the toolkit side will eventually have full control over

[2022-07-07 04:22] fernandops26 commented on #263
Hi folks, any update on this request?

[2022-07-08 10:49] Shivamd1 commented on #187
@hawkticehurst  Could you please provide the latest vsix file so that we can verify it, also could you please reopen the bug, it should only be closed by trusted tester

[2022-07-08 10:50] Shivamd1 commented on #181
@hawkticehurst  Could you please provide the latest vsix file so that we can verify it, also could you please reopen the bug, it should only be closed by trusted tester

[2022-07-08 18:02] hawkticehurst commented on #263
Hey @fernandops26! (cc @antross)

It looks like there is actually movement for a context menu to be exposed by the VS Code core API, so we're currently waiting/watching to see how that will play out (since we'd prefer to see context menu support in webviews come from core).

You can read some of the conversation [here](https://github.com/microsoft/vscode/issues/54285#issuecomment-1148063483) and t

[2022-07-13 18:11] hawkticehurst commented on #377
@bigbug looks like an [upstream PR](https://github.com/microsoft/vscode/pull/154999) was merged yesterday which should fix this problem!

It will be shipped in the next VS Code recovery build (i.e. patch release).

[2022-07-14 17:59] evangrayk opened #381 "Support `autoFocus` attribute in React-wrapped components"
### Feature request

When using react component bindings, the `autofocus`/`autoFocus` prop does not work on `<VSCodeTextArea>` and `<VSCodeTextField>`.

### Expected behavior

React components `<VSCodeTextArea>` and `<VSCodeTextField>` should accept an `autoFocus` prop which causes the components to focus when mounted.

### Current behavior

[Note: React polyfills the autoFocus attribute on normal

[2022-07-21 11:53] NetaMolcho commented on #376
@evangrayk thank you so much, it works well 🙏

[2022-07-21 18:05] hawkticehurst commented on #378
Hey @jeffb-sfdc, checking back in to see if you were able to resolve this issue or have any more questions?

[2022-07-21 18:07] hawkticehurst commented on #377
@bigbug I believe these changes should have shipped now! If you don't mind, could you verify that the fix works so we can close this issue?

[2022-07-21 18:43] bigbug commented on #377
@hawkticehurst I can confirm that it works again. Thanks for your help!

[2022-07-21 18:43] #377 closed

[2022-07-21 19:00] hawkticehurst commented on #377
Fantastic! Thrilled to hear it :)

[2022-07-21 20:02] hawkticehurst commented on #376
Hey all! Quickly chiming in on this.

Haha yeahhh, this is an admittedly very weird part of the Webview UI Toolkit story right now.

We have _intentionally_ not been documenting component parts because while they totally work for what @NetaMolcho is hoping to achieve, we would prefer if they weren't used at this time 😅. Let me explain...

The toolkit is built with another Microsoft technology call

[2022-07-25 20:54] jeffb-sfdc commented on #378
I think we're good, thanks @hawkticehurst

[2022-07-25 20:54] #378 closed

[2022-07-25 20:58] hawkticehurst commented on #378
Great! Happy to hear it. Feel free to open another issue if you ever run into more issues/questions!

[2022-07-29 21:23] hawkticehurst opened #384 "Uncentered text/icons when `vscode-button` has a width greater than 300px"
### Describe the bug

The `button` element within the shadow DOM of a `vscode-button` currently has a max-width of 300px defined.

This means that when a `vscode-button` has a width of 100% inside a parent container with a width greater than 300px it results in un-centered text/icons.

### To reproduce

Add a `vscode-button` to a `div`.

Set the `vscode-button` width to 100% and set the `div` widt

[2022-07-29 21:23] hawkticehurst commented on #384
The solution is to literally just remove this line of code: https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/button/button.styles.ts#L88

[2022-07-29 21:23] hawkticehurst commented on #384
cc @daviddossett

[2022-07-29 23:17] chaiwattsw commented on #384
@hawkticehurst Can I take this issue?

[2022-07-29 23:26] hawkticehurst commented on #384
@chaiwattsw absolutely! Go for it 🙂

[2022-07-30 07:27] chaiwattsw commented on #384
Thanks!

[2022-08-01 16:46] #384 closed

[2022-08-02 14:03] christian-bromann opened #386 "Remove `react` as peer dependency"
### Describe the bug

As described in the readme:

However `react` is explicitly defined as peer dependency which causes warnings during install.

### To reproduce

Run `yarn add @vscode/extension-telemetry`

[code]

### Expected behavior

There is no peer dependency defined. Even though it is only a warning and it works nonetheless, I suggest to remove it as it suggests something wrong.

### Curr

[2022-08-04 07:22] ilan-pinto opened #387 "Docs for React vscode-webview-ui-toolkit"
### Feature request

The docs for React version are very limited.
I am missing the following
- how to debug
- how to use the different components

[2022-08-04 23:52] daviddossett commented on #387
Any specific ideas or requests for those two items?

[2022-08-04 23:54] daviddossett commented on #381
Thanks for filing, @evangrayk. We'll take a look at this and will report back 👍

[2022-08-04 23:56] daviddossett commented on #376
Echoing the answer above—we recommend against styling the toolkit components that are intended to always be in alignment with the VS Code UI. However, as pointed out, there is a back door if you really need to do something for your use case.

[2022-08-04 23:56] #376 closed

[2022-08-04 23:57] #354 closed

[2022-08-04 23:59] daviddossett commented on #352
Closing this since we aren't likely to introduce a multi-select dropdown as long as it isn't available in VS Code core 👍 Definitely recommend the multi-select quick input as an alternative!

https://code.visualstudio.com/api/ux-guidelines/quick-picks#multiple-selections
https://code.visualstudio.com/api/references/vscode-api#QuickPick (see `canSelectMany`)

[2022-08-04 23:59] #352 closed

[2022-08-05 00:00] daviddossett commented on #264
After some discussion we've decided to stick with only checkboxes for now to maintain alignment with VS Code core.

[2022-08-05 00:00] #264 closed

[2022-08-05 00:00] #128 closed

[2022-08-05 00:01] #116 closed

[2022-08-05 00:02] daviddossett commented on #386
FYI @hawkticehurst is on leave at the moment—I'll wait for him to comment here as I'm pretty sure this was a trade off we had to make for various reasons.

[2022-08-05 07:39] charisk opened #388 "Link: Support for 'word-break'"
(Apologies if this is possible already and I have missed some docs on how)

### Feature request

It would be great if `vscode-link` would obey the `word-break` property e.g. `word-break: break-word`. In our case we have a `vscode-link` inside a `div` that has `word-break` but long lines aren't broken.

### Expected behavior

The lines to break.

### Current behavior

The text is overflowing its co

[2022-08-05 16:56] daviddossett commented on #375
Did a bit of digging here and realized that the notion of `size` when it comes to HTML `select` elements is related to the number of options visible when opened, not the width of the parent component:

From [MDN's docs on `size`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select#attr-size):

That's also reflected in the FAST component's (which this is built on) [API spec](https://gi

[2022-08-18 16:06] christian-bromann opened #390 "RadioGroup focus TypeError: Cannot read properties of undefined (reading 'setAttribute')"
### Describe the bug

We are using the UI toolkit in our [demo extension](https://marketplace.visualstudio.com/items?itemName=stateful.awesome-ux) and experience an issue when using a RadioGroup. The HTML looks as follows:

![Screenshot 2022-08-18 at 18 00 29](https://user-images.githubusercontent.com/731337/185441149-74bb5242-ac84-4922-b3aa-aec4aec4ec09.png)

Clicking around causes the following

[2022-08-18 18:25] hawkticehurst commented on #390
Hey @christian-bromann!

I think this is actually "technically correct" behavior. The `vscode-radio-group` component is only designed to accept `vscode-radio` components but not `vscode-checkbox`'s.

The implementation of `vscode-radio-group` follows the [HTML spec for the `radiogroup` role](https://developer.mozilla.org/en-US/docs/web/accessibility/aria/roles/radiogroup_role) where:

So having ch

[2022-08-18 19:39] #388 closed, assigned to daviddossett

[2022-08-18 19:42] hawkticehurst commented on #387
Hey @ilan-pinto!

Echoing what David said earlier could you be a bit more specific in what types of debugging/component usage scenarios you're hoping to see from our docs? Was there something you were specifically struggling with that could help inform how we write any new docs?

[2022-08-18 20:07] hawkticehurst commented on #386
Howdy, I'm back and am happy to talk about this!

This is definitely one of the weirder parts of the toolkit right now... but I am in agreement that this peer dependency is less than ideal (and has personally always bugged me).

**React doesn't natively support web components 🙃😪**

The short version is that React (as you may or may not know) does not natively support web components at this time. I

[2022-08-18 20:08] hawkticehurst commented on #386
Hope that gives a little bit more insight into this topic, but definitely let me know if you have any follow up questions/concerns.

[2022-08-18 20:45] christian-bromann commented on #386
Thanks for the input. It's not blocking me in anyway, just wanted to have it noticed by the team.

[2022-08-19 04:02] hawkticehurst commented on #386
Ahh I see, in that case, yes it's definitely on our radar.

[2022-08-19 05:38] necatiarslan opened #391 "Web View Does Not Publish"
Hi,
I developed an extension using web view UI toolkit components.
Components are working in debugging and I am not getting any compilation or runtime error.
However when I create a vsix package and install it, any of the component does not work.

Any idea on this ?

repo:https://github.com/necatiarslan/airflow-vscode-extension/blob/main/src/dagView.ts

this is after vsix
![Screen Shot 2022-08-19

[2022-08-19 09:45] r3m0t commented on #391
Did you try the command `Developer: Toggle Developer Tools` and check the Console?

[2022-08-19 11:45] necatiarslan commented on #391
Here is a screenshot.

![Screen Shot 2022-08-19 at 07 45 01](https://user-images.githubusercontent.com/1336688/185611587-5b0b8370-ea62-49cc-b194-1bfdc30bdee8.png)

[2022-08-19 12:16] necatiarslan commented on #391
Here is the screenshot

![Screen Shot 2022-08-19 at 08 15 30](https://user-images.githubusercontent.com/1336688/185616458-d2100f35-c589-48a7-90b4-6e2f346f4de5.png)

[2022-08-19 12:35] r3m0t commented on #391
That `dist/toolkit.js` path should be in your vsix, but it isn't. Unzip it to check. Also check `.vscodeignore` and make sure the correct argument is being passed to `asWebviewUri`.

[2022-08-19 20:32] necatiarslan commented on #391
I fixed the issue by removing node_modules/** line in the vscodeignore file.

[2022-08-19 20:32] #391 closed

[2022-08-19 20:56] hawkticehurst commented on #391
Oh nice! Was finally just about to follow up on this issue, but happy to see this all got sorted.

@r3m0t thank you so much for providing some help/guidance 😊

[2022-08-19 21:13] hawkticehurst opened #392 "Update `radio-group` docs"
### Feature request

Based on #390, update docs to clarify that the `vscode-radio-group` component is only designed to accept `vscode-radio` components but not `vscode-checkbox`'s.

Be sure to include a note about:

The implementation of `vscode-radio-group` follows the [HTML spec for the `radiogroup` role](https://developer.mozilla.org/en-US/docs/web/accessibility/aria/roles/radiogroup_role) wher

[2022-08-19 21:18] necatiarslan commented on #391
Thanks, guys for your help. I am working on the first airflow extension project which you can trigger dags (data pipelines), see logs and much more.

[2022-08-19 21:19] hawkticehurst commented on #390
I'm going to go ahead and close this issue based on what I said above.

I did, however, create a [new issue](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/392) that will update the docs to better clarify this reality.

Also, @christian-bromann, feel free to add any questions/comments on this thread and I'll keep an eye out.

[2022-08-19 21:19] #390 closed

[2022-08-19 21:27] hawkticehurst commented on #391
Ooh, that's awesome! Best of luck with it!

If you run into any other issues with the toolkit feel free to open another issue and we'll be happy to help.

Also on the off chance you haven't seen these resources if you have more general, non-toolkit, extension development questions there's a really helpful [VS Code GitHub Discussions](https://github.com/microsoft/vscode-discussions/discussions) boa

[2022-08-19 21:36] necatiarslan opened #393 "Components Needed"
Hi,
Thanks for creating these wonderful vs code extension components.
I am working on my first extension project now and I need these components.
I hope this post with help you to decide which components will be added in the next releases.

- DateTime Picker
- Charts (Bar, Line, Pie)
- Masked Text Field
-

My Extension Repo : https://github.com/necatiarslan/airflow-vscode-extension

[2022-08-21 19:13] MichaelHindley opened #394 "VSCodeButton triggers the form it belongs to onSubmit handler twice when triggered using the "Enter" key"
### Describe the bug
VSCodeButton triggers the form it belongs to onSubmit handler twice when triggered using the "Enter" key, firing two unique events to the onSubmit handler function.
If clicked with mouse, the onSubmit handler is called once, as expected.

Working workaround is to use any other button component.

**Actual behavior:**
Using the `VSCodeButton` react component to submit a form,
an

[2022-08-21 19:19] MichaelHindley opened #395 "VSCodeButton does not trigger a submit event on the form it belongs to, overriding the default behavior of buttons in forms."
### Describe the bug
VSCodeButton does not trigger a submit event on the form it belongs to,
overriding the default behavior of buttons in forms.

Working workaround is to explicitly add the `type="submit"` prop.

### To reproduce
Inside a webview panel:
[code]

### Desktop (please complete the following information):

-   OS Version: [e.g. `macOS  12.4`]
-   Toolkit Version: [e.g. `v1.0.0`]

[2022-08-22 04:09] necatiarslan opened #396 "Panel Selection Changed Event"
Hi,
Does the Panel component have a Selection Changed event?

I want to add an event listener and save the active panel so that when the HTML is rendered, panel control will be on the same tab.
If not, how can I stay on the same tab after an HTML render?

[2022-08-22 12:45] MichaelHindley opened #397 "VSCodeCheckbox always has value == "on", regardless of if it's actually on or off."
### Describe the bug
VSCodeCheckbox always has value == "on", regardless of if it's actually on or off.

### To reproduce
Inside a webview panel:
[code]

### Desktop (please complete the following information):

-   OS Version: [e.g. `macOS  12.4`]
-   Toolkit Version: [e.g. `v1.0.0`]

[2022-08-22 12:53] MichaelHindley commented on #397
Invalid, the property that should be looked at is "checked", not "value".

[2022-08-22 12:53] #397 closed

[2022-08-22 14:53] charisk commented on #388
Thank you for fixing this @daviddossett! Do you know when the fix will be released?

[2022-08-22 17:47] hawkticehurst commented on #388
@charisk sorry, that's on me 😅

I got back from vacation last week and was hoping to complete some other work so I could publish everything in one batch, but alas other to-do list items got in the way of that.

Regardless, I'll just go ahead and publish the current changes by the end of today so you're not blocked anymore!

[2022-08-22 21:07] hawkticehurst commented on #395
Thanks for the report @MichaelHindley!

I already have it on my list to do a [deeper dive into VS Code webview form usage](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/371) so I'll fold this into that work.

[2022-08-22 21:27] hawkticehurst commented on #396
Hey @necatiarslan,

The `panels` component does have a custom `changed` event that will fire when a tab is clicked or during keyboard navigation.

Here's a code snippet to get you started in that direction:

[code]

[code]

With that said, could you explain a bit more of what your goal is about staying on the same tab and what you mean by "HTML render"?

I ask because if you're trying to get a spe

[2022-08-22 21:54] hawkticehurst opened #398 "Fix `vscode-link` tab focus not rendering"
### Describe the bug

When a `vscode-link` is focused via tabbing it no longer renders a focus border.

### To reproduce

Add a `vscode-link` to a webview and try to tab focus.

### Expected behavior

A focus border should be rendered when the link receives focus.

### Current behavior

Nothing is rendered when the link receives focus.

[2022-08-22 22:02] #398 closed

[2022-08-22 22:44] hawkticehurst commented on #388
Alright just published a [patch release](https://github.com/microsoft/vscode-webview-ui-toolkit/releases/tag/v1.0.1)! Let me know if this resolves your issue.

[2022-08-23 07:16] charisk commented on #388
Awesome, thank you so much for the fix and the ship!

[2022-08-23 20:55] hawkticehurst commented on #388
You're welcome! Thanks for opening the issue in the first place!

[2022-08-24 23:09] hawkticehurst commented on #375
Thanks for digging into this @daviddossett!

In that case, I want to prioritize staying aligned with the HTML spec in our components, so we won't implement a `size` attribute in the way that you described @idoprz and let CSS be the method for adjusting the width of a dropdown.

[2022-08-24 23:09] #375 closed

[2022-09-01 19:02] gcampbell-msft opened #402 "Provide way to get the selected text of a text field."
### Feature request

Provide the ability to programmatically get the selected text from a vscode-text-field.

### Use case

Suppose you have a reference to the html reference, it would be nice to have access to fields that would allow you to get the selected text from the vscode-text-field, rather than only being able to grab the entire text in the field.

Possibly provide fields that are similar

[2022-09-01 22:46] hawkticehurst commented on #402
Thanks for the request @gcampbell-msft!

I'd be open to adding this down the road. Just so I have some more context, however, what type of experience are you hoping to implement with this functionality?

cc @daviddossett

[2022-09-02 15:16] gcampbell-msft commented on #402
In a webview that I'm working on, there is a desire/need to provide a context menu with options to copy/paste/etc. In order to make this happen, it is necessary to programmatically copy the highlighted text (specifically for the Copy function). This is the use case I'm looking for.

Let me know if that doesn't give you enough context.

[2022-09-02 19:59] hawkticehurst commented on #402
Ahh, I see. That totally makes sense. More than happy to add this to the backlog then.

And thanks, I think I have enough context to move forward but I'll definitely follow up with other Qs if I have them.

[2022-09-13 08:48] kevin-s-wang opened #403 "Add validation message theming in vscode-text-field"
### Feature request

Add validation message theming in `vscode-text-field`

### Expected behavior
Just like the one in vscode:
<img width="156" alt="image" src="https://user-images.githubusercontent.com/24372742/189855744-20987819-c007-4dcc-9c67-94b7426e9f7a.png">

### Current behavior

No such validation message theming support

### Use case

Let users be aware of the wrong values and provide tip

[2022-09-13 17:11] daviddossett commented on #403
Thanks @kevin-s-wang! Closing given the duplicate of #270. We definitely want to do this.

[2022-09-13 17:11] #403 closed

[2022-09-14 03:09] kevin-s-wang opened #404 "VSCodeRadio cannot be checked in the first rendering"
### Describe the bug

React VSCodeRadio cannot be checked in the first rendering, but it's checked in the second rendering.

### To reproduce

[code]

### Expected behavior

The first radio should be checked:
<img width="138" alt="image" src="https://user-images.githubusercontent.com/24372742/190049001-3a98c657-591e-4b08-8f2b-0b1457bde9f3.png">

### Current behavior
None of the VSCodeRadios is che

[2022-09-15 03:12] hawkticehurst commented on #396
Hey @necatiarslan I'm circling back to see if any of these suggestions resolved your issue? Do you have any other questions or can we close this issue?

[2022-09-15 12:42] necatiarslan commented on #396
solved

[2022-09-15 12:42] #396 closed

[2022-09-16 02:30] kevin-s-wang opened #406 "VSCodeDropdown position "below" does not work"
### Describe the bug
Explicitly set the position of VSCodeDropdown to `below`, it still displays the dropdown list above.

### To reproduce

[code]

### Expected behavior

Should display the dropdown list below

### Current behavior

<img width="121" alt="image" src="https://user-images.githubusercontent.com/24372742/190543461-e5da695c-78e4-424f-8caa-eb0ba2252c6b.png">

### Screenshots

### Deskto

[2022-09-16 18:25] hawkticehurst commented on #396
Perfect, glad to hear it, and thanks for updating the issue!

[2022-09-19 22:56] svew commented on #370
I definitely could use this as well, I've had to hack together my own version of it for now

[2022-09-20 06:28] kevin-s-wang opened #407 "Popover support"
### Feature request

Popover support

### Expected behavior

Here's the control that exists in vscode:

<img width="837" alt="image" src="https://user-images.githubusercontent.com/24372742/191183051-c66fca0a-7b07-48b4-990c-3300033606e8.png">

### Current behavior
No such support

### Use case

Display tips etc.

### Screenshots/references

[2022-09-22 18:58] deerob4 opened #408 "VSCodeCheckbox onChange handler called on first render"
### Describe the bug

`VSCodeCheckbox` React components that have a `checked` value which references a React state variable initialised to `true` will call their `onChange` prop on first render. Since the `onChange` prop is usually toggling that same state variable, the component enters into an infinite recursive loop.

This actually seems to happen when `useState` is initialised with anything oth

[2022-09-23 06:48] kevin-s-wang commented on #408
I've also encountered such an issue, the component keeps re-rendering util its max-depth when triggered onChanged event.

[2022-09-23 08:52] deerob4 opened #409 "Issues using React components in test environment"
We've recently replaced our hand-rolled components with the ones provided by our toolkit. All works well when running the extension normally, but we get the following exception when running our tests:

[code]

This is being hit when our test imports the React component that makes use of the toolkit components.  For context, our source code and tests are compiled using `tsc -p .`, and are run throu

[2022-09-26 19:17] hawkticehurst commented on #409
Thanks for the bug report @deerob4!

Been a bit busy with other pressing work lately but will put it on the top of my todo list once I have some free cycles

Also thank you so much for the call out of a missing `"type": "module"`! I thought that was something I included long ago, but adding it might be a solution to some other problems I've been tackling with the toolkit

[2022-09-26 19:20] hawkticehurst commented on #408
Thanks again for the bug report @deerob4!

Like I said in your other issue, I've been a bit busy with other work but will also put this on the top of my todo list once I have some free cycles 😊

[2022-09-26 19:28] hawkticehurst commented on #407
Thanks for the feature request @kevin-s-wang!

Could you share a bit more info about how you would hope to use this component?

Would this popover only be usable in a list like shown in the screenshot above or would the popover be usable in other places? What else besides display tips would you hope to use this for?

Basically, any more details that can help us get an idea of what you hope to use

[2022-09-26 19:29] hawkticehurst commented on #406
Thanks for the bug report @kevin-s-wang!

To clarify it looks like you're using the React toolkit components correct?

[2022-09-26 19:31] hawkticehurst commented on #404
Thanks again for the bug report @kevin-s-wang!

Like the other issue, I just wanted to confirm that you're using the React toolkit components correct?

Regardless, I'll make sure to put this and your other bug report at the top of my list once I have some free cycles to work on this

[2022-09-26 19:58] daviddossett commented on #407
FWIW these are called markdown hovers in VS Code core. Consumers can render custom content in a generic hover. Interesting to think about bringing those in here if there were enough use cases.

[2022-10-11 06:49] kevin-s-wang commented on #407
@hawkticehurst  @daviddossett  Thank you for your replies. We want to use it for telling users more information about an item like an icon, a list item when the mouse is hovering. We can implement our own popover component in a webview, but if it's implemented in the toolkit that'd be more convenient for us.

[2022-10-11 06:56] kevin-s-wang commented on #406
@hawkticehurst thank you for your reply. Yes, I'm using React and webview-ui-toolkit react.
I later did another test, it seems the dropdown list's position is determined by its position on the screen. You can think of that the screen is split into two halves and stacked vertically. If the dropdown list is in the upper half, it displays the list `Abo ve`, vice versa, in the lower half, it displays

[2022-10-11 06:58] kevin-s-wang commented on #404
@hawkticehurst  yes, I'm using react toolkit.

[2022-10-12 21:33] hawkticehurst commented on #409
Hey @deerob4!

I finally found some time to look at this and have updated the toolkit to use the `type: module`!

But before I go off to create a custom test setup to match your configuration I thought I'd double-check to see if your extension is publicly available by any chance? Would love to be able to directly test the changes in your source as a verification that I'm solving your problem (if p

[2022-10-13 10:56] deerob4 commented on #409
Hey, thanks for looking into this!

Our extension isn't open source unfortunately, but I created a [minimal example](https://github.com/deerob4/vscode-webview-ui-toolkit-test) that reproduces the issue. It implements a simple counter webview that uses the `VSCodeButton` component, as well as a couple of tests, and includes a rough approximation of our test environment. I hope it's useful!

[2022-10-13 18:37] hawkticehurst commented on #409
Thank you so much! This is _immensely_ helpful!

[2022-10-18 21:56] pwang347 opened #410 "Theming doesn't work in notebook output webviews"
### Describe the bug
Theming doesn't seem to be working for VS Code notebook outputs:
![image](https://user-images.githubusercontent.com/8560030/196551851-32ac7e4c-60bb-46de-8a2a-8218af346614.png)

Not sure if this issue belongs here or in vscode itself, but I do see that the webviews are correctly providing some theme information there (maybe the color tokens are named differently for outputs?) F

[2022-10-19 00:12] svew commented on #386
Any updates on this? Not blocking, but annoying :)

[2022-10-31 03:41] fengtan opened #411 "Data grid: long headers not aligned with cells"
### Describe the bug

If a [data grid](https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/data-grid/README.md) has long headers, then those aren't always aligned with cells.

### To reproduce

Create a data grid by following the [official documentation](https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/data-grid/README.md#basic-data-grid) and specify many long

[2022-11-01 18:24] daviddossett opened #413 "Add small button variant"
Given their usage both in VS Code core and in various extensions, I think it would be useful to provide a small variant of the text button. This would also extend to any future split button as shown in an example below:

## GitHub Pull Requests Extension

<img width="967" alt="CleanShot 2022-11-01 at 11 21 05@2x" src="https://user-images.githubusercontent.com/25163139/199309199-8f867ec6-83df-4eb4-

[2022-11-09 00:53] Symbolk commented on #315
+1, not sure https://github.com/shikijs/shiki is a good solution here.

[2022-11-09 23:23] benmcmorran opened #415 "Feature request: progress bar"
### Feature request

It would be great if this toolkit provided a progress bar based on [the VS Code progress bar](https://github.com/microsoft/vscode/blob/0bf30719729d76dc3db934ac2e04eed892a9ae7e/src/vs/base/browser/ui/progressbar/progressbar.ts) that appears at the top of views while they are loading.

### Expected behavior

A new component `vscode-progress-bar` component that exposes properties

[2022-11-17 21:45] kevcao-certik opened #417 "Radio group does not have the correct value when submitted in a form."
### Describe the bug

When using a Radio group in a form, the group will pick the last radio button as its default value, even if it is not checked. Setting other buttons as checked does nothing visually or semantically (if you set the last radio button as checked, it will pick the second to last button as the default value).

Selecting other buttons before hitting submit does not change the value

[2022-11-17 21:52] kevcao-certik commented on #417
Updated packages and issue was resolved.

[2022-11-17 21:52] #417 closed

[2022-11-18 05:35] jedwards1211 opened #418 "Errors when using "moduleResolution": "NodeNext" because "type": "module" is missing"
### Describe the bug

I get a bunch of errors in this package when using `using "moduleResolution": "NodeNext"` in my project because TS considers this package CommonJS by default, and it imports ESM modules.

[2022-11-20 22:01] HJfod commented on #263
Hi, are there any updates on this request?

I've looked into the new official context menu API, but I'm not sure if that's a good fit for what I need, which is a menu that only appears when a button is clicked, like in the first screenshot in the original post on this thread (as opposed to the context menu API, which appears when right-clicked, and I've so far been unable to find if there's a way

[2022-11-21 20:43] #418 closed

[2022-11-21 20:49] hawkticehurst commented on #415
Thanks for the request @benmcmorran!

We actually had a progress bar implemented in the toolkit long ago, before it was released publically. We ultimately decided to [scrap it last minute](https://github.com/microsoft/vscode-webview-ui-toolkit/pull/196) because (if I recall correctly??) we were undecided if a progress bar should be exposed to a webview from a design system perspective.

It think i

[2022-11-21 20:51] hawkticehurst commented on #413
Yeah, I'm on board with this 👍

[2022-11-21 21:14] hawkticehurst commented on #411
Thank you for this catch and subsequent PR! Tested it all on my end and was able to validate both the issue and the fix :)

[2022-11-21 21:16] #411 closed

[2022-11-21 22:01] hawkticehurst commented on #410
Thanks for the report @pwang347!

I tried to follow your reproduction steps but it seems like the sample is incomplete so I didn't get too far (would you happen to know of any other minimal notebook samples I could reference?)

With that said, off the top of my head I'd wager this could be an issue with your toolkit version –– potentially try updating to the latest.

If that doesn't work could ind

[2022-11-21 22:30] hawkticehurst commented on #409
Hey @deerob4!

Finally circling back again with some updates. So I just made a PR with the `type: module` changes added (I'll make publish a new toolkit release shortly), but I thought I would test the changes with your example and didn't seem to have any luck running `npm run test` 😕

With that said, I'm also getting an "Unable to read file" error while trying to run the sample extension normally

[2022-11-22 10:05] deerob4 commented on #409
Hey, thanks for getting back on this! You're completely right, there was an error in the sample - sorry for wasting your time with that. I pushed a commit that changes the reference to `test.js`, and it now runs as expected.

However, I'm still seeing an error with the tests after updating to v1.2.0, though this time it's slightly different:

[code]

Some searching suggested that adding` {"type":